
<!-- Content -->
<div class="container text-center">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center list-full">

        <div class="col-md-8 col-sm-8 col-xs-12 pull-left text-left nopadding">
            <h1>About Us</h1>
            <h4>
                <p class="text-left">
                    We firstly published our work on Youtube in 2013 to offer musicians and music lovers all style of music. With a year of preparation, we finally launch our website to provide easily accessible, high quality digital sheet music to you. 
                </p>
                <p class="text-left">
                    Our goal is to offer a huge amount of sheet music from Classical, Orchestral work, World, Soundtrack, Anime to Folk and even more. Since we would like to make sure that each of you will be 100% satisfied with your every purchase , every single sheet music has been carefully transcribed by professional musicians and examined repeatedly if it is truly playable.
                </p>
                <p class="text-left">
                    We now welcome everyone to request the music pieces that he or she desires but cannot find it on the website. Please write to us, our team will be working on it and deliver it to you shortly.
                </p>
            </h4>
            <h2><a href="#/contact">Contact Us</a></h2>

        </div>

        <div class="col-md-3 col-sm-3 col-xs-12 pull-right text-left">
            <h4>Follow Us</h4>
            <h5>
            <p>
                <img src="images/icon-youtube2.png"><a target="_blank" href="https://www.youtube.com/channel/UCVwUUu_AQdcpV4Vzv_9D2AA">Youtube</a>
            </p><p>
                <img src="images/icon-facebook.png"><a href="#">Facebook</a>
            </p><p>
                <img src="images/icon-googleplus.png"><a href="#">Google+</a>
            </p><p>
                <img src="images/icon-linkedin.png"><a href="#">Linkedin</a>
            </p>
            </h5>
        </div>
    </div>

</div>
