
<div class="container text-center fade" ng-class="{in:user}">

    <div class="col-md-3 col-sm-3 col-xs-3 text-left account-menu">
        <ul class="">
            <li><h2>Welcome</h2></li>
            <li><a href="#/account" class="active">Account Settings</a></li>
            <li><a href="#/account/shopping-cart">My Shopping Cart</a></li>
            <li><a href="#/account/purchased">My Orders</a></li>
        </ul>
    </div>

    <div class="col-md-9 col-sm-9 col-xs-9 text-left act-list">
        <ul class="">
            <h1>Account Settings</h1>
            <li class="row">
                <span class="act-label">FIRSTNAME</span>
                <span class="act-content">{{user.firstname}} <a ng-click="updateuser(1,0)"><span class="glyphicon glyphicon-pencil"></span></a></span>
            </li>
            <li class="row">
                <span class="act-label">SURNAME</span>
                <span class="act-content">{{user.surname}} <a ng-click="updateuser(0,1)"><span class="glyphicon glyphicon-pencil"></span></a></span>
            </li>
            <li class="row">
                <span class="act-label">EMAIL</span>
                <span class="act-content" ng-bind="user.username"></span>
            </li>
            <li class="row">
                <span class="act-label">REGISTERED</span>
                <span class="act-content" ng-bind="user.createdAt | date : 'yyyy-MM-dd'"></span>
            </li>
            <li class="row">
                <span class="act-label">PASSWORD</span>
                <span class="act-content act-btn"><a type="button" ng-click="launch('create')" class="btn btn-primary btn-sm">Click to Change</a></span>
            </li>
        </ul>
    </div>

</div>
