
<div class="container text-center">


    <div class="col-md-3 col-sm-3 col-xs-3 text-left account-menu">
        <ul class="">
            <li><h2>Welcome</h2></li>
            <li><h4><a href="#/account" ng-class="setActive('account')">Account Settings</a></h4></li>
            <li><h4><a href="#/account/shopping-cart" ng-class="setActive('shopping-cart')">My Shopping Cart</a></h4></li>
            <li><h4><a href="#/account/purchased" ng-class="setActive('purchased')">My Orders</a></h4></li>
        </ul>
    </div>

    <div class="col-md-9 col-sm-9 col-xs-9 text-left act-list">
        <h1 ng-if="table">Shopping Cart :<span ng-bind="cartcount">0</span></h1>
        <h4 ng-if="table"><a href="#/sheetmusic">Continue Shopping</a></h4>
        <table class="table table-striped table-hover fade" ng-class="{in:cart.length}" ng-if="table">
            <thead>
            <tr>
                <th><a ng-click="orderProp = 'title'; reverse=!reverse">Title</a></th>
                <th><a ng-click="orderProp = 'price'; reverse=!reverse">Price</a></th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="score in cart | orderBy:orderProp:reverse">
                <td><a href="#/sheetmusic/{{score.shortname}}" ng-bind="score.title"></a></td>
                <td>{{score.price | currency:'£'}}</td>
                <td><a type="button" ng-click="removecart(score.title, score.id)" class="btn btn-danger btn-xs">Remove</a></td>
            </tr>
            <tr>
                <td>Total:</td>
                <td>{{total | currency: '£'}}</td>
                <td><a type="button" class="btn btn-primary btn-sm" ng-click="order()">Order</a><img class="paypal" src="images/paypal.png"></td>
            </tr>
            </tbody>
        </table>
        <ul ng-if="!table">
            <h2>Shopping Cart :<span ng-bind="cartcount">0</span></h2>
            <div class="fade" ng-class="{in:cart.length}">
            <li class="pull-right row">
                <a href="#/sheetmusic">Continue Shopping</a>
            </li>
            <li class="row list-inline columnCaptions">
                <span>Title</span>
                <span>Price</span>
            </li>
            <li class="row" ng-repeat="score in logged_cart | orderBy:orderProp">
                <span class="list-item">
                    <a href="#/sheetmusic/{{score.shortname}}" ng-bind="score.title"></a>
                </span>
                <span class="price" ng-bind="score.price | currency:'£'"></span>
                <span class="list-action"><a type="button" ng-click="removecart(score.title, score.id)" class="btn btn-danger btn-xs">Remove</a></span>
            </li>
            <li class="row totals">
                <span class="list-item">Total:</span>
                <span class="action"><a type="button" class="btn btn-primary" ng-click="order()">Order</a></span>
                <span class="total">{{total | currency: '£'}}</span>
                <img class="paypal" src="images/paypal.png">
            </li>
            </div>
        </ul>
    </div>

</div>
