
<!-- Content -->
<div class="container text-center">
	<div class="col-md-12 col-sm-12 col-xs-12 text-center list-full">

		<div class="col-md-8 col-sm-8 col-xs-12 pull-left text-left nopadding">
			<h1 class="col-md-8 col-sm-8 col-xs-12 pull-left">Create Account</h1>

			<h4 class="col-md-4 col-sm-4 col-xs-12 pull-right text-right">
				<a class="pull-center need-help" href="#/login">Login</a> | <a
					class="pull-center need-help" href="#/register">Register</a>
			</h4>

			<span class="clearfix"></span>
			<div class="form-group col-md-12 col-sm-12 col-xs-12">

				<p class="well">
                    <span ng-show="loading" class="loader"></span>
					<span class="form-check" ng-class="setCheck" ng-bind="res.message"></span>
				</p>
			</div>
			<h4 class="col-md-12 col-sm-12 col-xs-12">
				Need help? Click to<a href="#/contact">Contact Us</a>
			</h4>
		</div>

		<div class="col-md-3 col-sm-3 col-xs-12 pull-right text-left">
			<h4>Follow Us</h4>
			<h5>
				<img alt="" src="images/icon-youtube2.png"><a target="_blank"
					href="https://www.youtube.com/channel/UCVwUUu_AQdcpV4Vzv_9D2AA">Youtube</a>
			</h5>
			<h5>
				<img alt="" src="images/icon-facebook.png"><a href="#">Facebook</a>
			</h5>
			<h5>
				<img alt="" src="images/icon-googleplus.png"><a
					target="_blank"
					href="https://plus.google.com/+LazySheetMusic/posts">Google+</a>
			</h5>
			<h5>
				<img alt="" src="images/icon-linkedin.png"><a target="_blank"
					href="https://www.linkedin.com/in/shihwendy">Linkedin</a>
			</h5>
		</div>
	</div>

</div>
