<div class="container text-center">

    <ng-include src="'views/include/admin-menu.html'"></ng-include>

    <div class="col-md-9 col-sm-9 col-xs-9 text-left act-list">

        <h2>Admin Settings</h2>
        <ul class="">
            <li class="row">
                <span class="act-label">USERNAME</span>
                <span class="act-content">{{user.username}}</span>
            </li>
            <li class="row">
                <span class="act-label">EMAIL</span>
                <span class="act-content">{{user.username}}</span>
            </li>
            <li class="row">
                <span class="act-label">PASSWORD</span>
                <span class="act-content act-btn"><a type="button" ng-click="launch('create')" class="btn btn-primary btn-sm">Click to Change</a></span>
            </li>
        </ul>
    </div>

</div>
