
<div class="container text-center">

    <div class="col-md-3 col-sm-3 col-xs-3 text-left account-menu">
        <ul class="">
            <li><h4>Welcome Admin</h4></li>
            <li><a href="#/admin">Settings</a></li>
            <li><a href="#/admin/users">User List</a></li>
            <li><a href="#/admin/scores" class="active">Sheet Music</a></li>
            <li><a href="#/admin/categories">Categories (Tags)</a></li>
        </ul>
    </div>

    <div class="col-md-9 col-sm-9 col-xs-9 text-left act-list">
        <h2>Manage Sheet Music ({{scores.length}})
            <span><a type="button" href="#/admin/add-sheetmusic" class="btn btn-warning">ADD</a></span>
        </h2>
        <p class="loader" ng-show="loading"></p>
        <table class="table table-striped table-hover fade" ng-class="{in:!loading}">
            <thead>
            <tr>
                <th class="col-md-5">
                    <a ng-click="orderProp = 'title'; reverse=!reverse">Title</a>
                </th>
                <th class="col-md-1">Edit</th>
                <th class="col-md-1">Links</th>
                <th class="col-md-1">Tags</th>
                <th class="col-md-1">Delete</th>
                <th class="col-md-1">Slider</th>
                <th class="col-md-2">
                    <a ng-click="orderProp = 'createdAt'; reverse=!reverse">Date</a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in scores | orderBy:orderProp:reverse">
                <td>
                    <a href="#/sheetmusic/{{item.shortname}}" ng-if="item.obsolete"><strike>{{item.title}}</strike></a>
                    <a href="#/sheetmusic/{{item.shortname}}" ng-if="!item.obsolete">{{item.title}}</a>
                </td>
                <td><a href="#/admin/sheetmusic/{{item.id}}" ng-if="!item.obsolete" ><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td><a href="#/admin/sheetmusic-link/{{item.id}}" ng-if="!item.obsolete" ><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td><a href="#/admin/sheetmusic-type/{{item.id}}" ng-if="!item.obsolete" ><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td><a ng-click="removeScore(true, item.id, item.title)" ng-if="!item.obsolete" ><span class="text-danger glyphicon glyphicon-remove"></span></a></td>
                <td>
                    <a type="button" ng-if="item.slider && !item.obsolete" ng-click="addSlider(false, item.id)" class="btn btn-default btn-xs">Remove</a>
                    <a type="button" ng-if="!item.slider && !item.obsolete && item.thumburl" ng-click="addSlider(true, item.id)" class="btn btn-primary btn-xs">Add</a>
                    <span ng-if="!item.thumburl"><small>No thumb</small></span>
                </td>
                <td><small>{{item.createdAt | date : 'yyyy-MM-dd'}}</small></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
