
<div class="container text-center">

    <ng-include src="'views/include/admin-menu.html'"></ng-include>

    <div class="col-md-9 col-sm-9 col-xs-9 text-left act-list">

        <h2>Manage Users ({{users.length}})</h2>

        <p class="loader" ng-show="loading"></p>
        <table class="table table-striped table-hover fade" ng-class="{in:!loading}" >
            <thead>
            <tr>
                <th class="col-md-5">
                    <a ng-click="orderProp = 'username'; reverse=!reverse">User Email</a>
                </th>
                <th class="col-md-4">Actions</th>
                <th class="col-md-3">
                    <a ng-click="orderProp = 'createdAt'; reverse=!reverse">Registered Date</a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in users | orderBy:orderProp:reverse">
                <td><a href="#/admin/users/{{item.id}}">{{item.username}}</a><span ng-if="item.admin" class="glyphicon glyphicon-user"></span></td>
                <td>
                    <a type="button" class="btn btn-primary btn-xs">Send Message</a>
                    <a type="button" class="btn btn-danger btn-xs">Block</a>
                </td>
                <td><small>{{item.createdAt | date : 'yyyy-MM-dd'}}</small></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
