
<div class="container text-center">

    <ng-include src="'views/include/admin-menu.html'"></ng-include>

	<div class="col-md-9 col-sm-9 col-xs-9 text-left act-list">

		<h2>
			Editing Tags:<span><a type="button" href="#/admin/scores" class="btn btn-default">BACK</a></span>
		</h2>

        <p class="loader" ng-show="loading"></p>

        <div class="fade" ng-class="{in:!loading}">
        <h4><b ng-bind="score.title"></b></h4>
		<div class="col-md-6 col-sm-6 col-xs-12 text-left">
			<h4>Unselected Tags</h4>
			<ul>
				<li ng-repeat="type in types" ng-if="!type.obsolete"
					class="pull-left text-left col-md-12">
					<ul>
						<li><b ng-bind="type.name"></b></li>
						<li><a type="button" class="btn-detail btn btn-default"
							ng-repeat="subtype in type.subtypes" ng-if="!subtype.obsolete"
							ng-click="addscoretype(subtype.id, subtype.name)">
								{{subtype.name}} </a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12 text-left">
			<h4>Selected Tags</h4>
			<ul>
				<li><a type="button" class="btn-detail btn btn-primary"
					ng-repeat="addedtype in selected" ng-if="!addedtype.obsolete"
					ng-click="removescoretype(addedtype.id, addedtype.name)">
						{{addedtype.name}} </a></li>

			</ul>

		</div>
        </div>
	</div>

</div>
