
<div class="container text-center">

    <ng-include src="'views/include/admin-menu.html'"></ng-include>

    <div class="col-md-9 col-sm-9 col-xs-9 text-left act-list">
        <h2>Editing Sheet Music
            <span><a type="button" href="#/admin/scores" class="btn btn-default">BACK</a></span>
        </h2>
        <p class="loader" ng-show="loading"></p>

        <div class="fade" ng-class="{in:!loading}">

        <form name="ScoreForm" class="form-score" role="form">
            <ul class="">
                <li class="row info">
                    <h4><b ng-bind="scoreInfo.title"></b></h4>
                </li>
                <li class="row">
                    <span class="act-label">TITLE <span class="text-danger">*</span></span>
                    <input type="text" maxlength="40" class="act-content form-control" placeholder="Enter title" ng-model="scoreInfo.title" required ng-trim="true">

                </li>
                <li class="row">
                    <span class="act-label">PRICE</span>
                    <input type="text" class="act-content form-control" placeholder="Enter price" ng-model="scoreInfo.price" required ng-trim="true">

                </li>
                <li class="row">
                    <span class="act-label">PAGE</span>
                    <input type="text" class="act-content form-control" placeholder="Enter total page number" ng-model="scoreInfo.page" required ng-trim="true">

                </li>
                <li class="row">
                    <span class="act-label">AUDIO</span>
                    <input type="text" class="act-content form-control" placeholder="Preview Audio URL" ng-model="scoreInfo.audiourl" ng-trim="true">

                </li>
                <li class="row">
                    <span class="act-label">VIDEO</span>
                    <input type="text" class="act-content form-control" placeholder="Preview Video URL" ng-model="scoreInfo.videourl" ng-trim="true">

                </li>
                <li class="row">
                    <span class="act-label">IMAGE</span>
                    <input type="text" class="act-content form-control" placeholder="Preview Image URL" ng-model="scoreInfo.imageurl" ng-trim="true">

                </li>
                <li class="row">
                    <span class="act-label">FILE
                    <span class="text-warning glyphicon glyphicon-info-sign"></span>
                    </span>
                    <input type="text" class="act-content form-control" placeholder="File URL" ng-model="scoreInfo.fileurl" ng-trim="true">
                </li>
                <li class="row info">
                    <span class="text-warning">
                        <small>To upload One or Multiple files, Please clear "FILE" above and use 'Links' in the previous page. </small>
                    </span>
                </li>
                <li class="row">
                    <span class="act-label">DESCRIPTION</span>
                    <textarea class="act-content form-control" placeholder="Description" ng-model="scoreInfo.desc" ng-trim="true"></textarea>

                </li>
                <li class="row">
                    <span class="act-label">THUMBNAIL</span>
                    <input type="text" class="act-content form-control" placeholder="Slider Thumbnail URL" ng-model="scoreInfo.thumburl" ng-trim="true">

                </li>
                <li class="row">
                    <span class="act-label">SLIDER
                    <span title="Please make sure the Thumbnail URL is correct. The thumbnail will be used in the Slider"  class="text-warning glyphicon glyphicon-info-sign pointer"></span></span>
                    <input ng-if="scoreInfo.thumburl" type="checkbox" value="true" name="" class="" placeholder="Add to Slider" ng-model="scoreInfo.slider" ng-checked="scoreInfo.slider" ng-trim="true">

                    <span ng-if="!scoreInfo.thumburl" class="act-content text-warning"><small>Please enter Thumbnail URL above to Enable Slider</small></span>
                </li>
                <li>
                    <span class="form-check" ng-show="scoreCheck" ng-bind="scoreCheck"></span>

                </li>
                <li ng-if="scoreInfo.title">
                    <button class="btn btn-primary" type="submit" ng-click="scoreSave()">Save</button>
                    <span><a type="button" href="#/admin/scores" class="btn btn-default">BACK</a></span>

                </li>
            </ul>
        </form>
        </div>
    </div>

</div>
