
<div class="container text-center">

    <div class="col-md-3 col-sm-3 col-xs-3 text-left account-menu">
        <ul class="">
            <li><h4>Welcome Admin</h4></li>
            <li><a href="#/admin">Settings</a></li>
            <li><a href="#/admin/users">User List</a></li>
            <li><a href="#/admin/scores">Sheet Music</a></li>
            <li><a href="#/admin/categories" class="active">Categories (Tags)</a></li>
        </ul>
    </div>

    <div class="col-md-9 col-sm-9 col-xs-9 text-left act-list">

        <div ng-repeat="ptype in types" ng-if="!ptype.obsolete">
            <h2>Manage<span ng-bind="ptype.name"></span>
                <span>
                <a ng-click="updatetype(ptype.id, ptype.name)"><span class="glyphicon glyphicon-pencil"></span></a>
                <a ng-click="removetype(ptype.id, '', ptype.name, ptype.subtypes.length)" ><span class="text-danger glyphicon glyphicon-remove"></span></a>
                <a ng-click="addsubtype(ptype.id, ptype.name)" ><span class="text-warning glyphicon glyphicon-plus"></span></a>
                </span>

            </h2>
            <table class="table table-striped table-hover " ng-if="table">
                <thead>
                <tr>
                    <th class="col-md-6">
                        <a ng-click="orderProp = 'name'; reverse=!reverse">Type Name</a>
                    </th>
                    <th class="col-md-3">Rename</th>
                    <th class="col-md-3">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="subtype in ptype.subtypes | orderBy:orderProp:reverse" ng-if="!subtype.obsolete">
                    <td>{{subtype.name}}</td>
                    <td><a ng-click="updatetype(subtype.id, subtype.name)"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    <td><a ng-click="removetype(subtype.id, ptype.name, subtype.name, 0)" ><span class="text-danger glyphicon glyphicon-remove"></span></a></td>
                </tr>
                </tbody>
            </table>

            <ul class="" ng-if="!table">
                <li>
                <span type="button" class="btn btn-default btn-inline btn-category" ng-repeat="subtype in ptype.subtypes" ng-if="!subtype.obsolete">
                    {{subtype.name}}
                    <a ng-click="updatetype(subtype.id, subtype.name)"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a ng-click="removetype(subtype.id, ptype.name, subtype.name, 0)" ><span class="glyphicon glyphicon-remove"></span></a>
                </span>
                    <a type="button" class="btn btn-warning btn-inline" ng-click="addsubtype(ptype.id, ptype.name)">ADD</a>
                </li>
            </ul>

        </div>
        <h2><a ng-click="addptype()">Add Type</a></h2>
    </div>

</div>
