
<!-- Content -->
<div class="container text-center">
    <h2 class="text-left">{{result.pshortname | titlelize}}</h2>
    <div class="col-md-12 col-sm-12 col-xs-12 text-center list-full">
        <div class="input-search col-md-12">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="cname" placeholder="Search for {{result.pshortname | titlelize}}">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="search">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                    </span>
            </div>
        </div>

        <a type="button" href="#/types/{{result.pshortname}}/{{item.shortname}}" class="btn btn-default btn-inline btn-category" ng-repeat="item in result.subtypes | filter:cname" ng-if="!item.obsolete" ng-bind="item.name"></a>
    </div>

</div>
