<!-- Content -->
<div class="container text-center">

    <div class="col-md-4 col-sm-4 col-xs-4 text-left score-detail">
        <ul class="">
            <li><h1 ng-bind="result.subname"></h1></li>
            <li><h4><span ng-bind="result.pname | titlelize"></span> | <a href="#/types/{{result.pshortname}}">View All</a> </h4></li>
            <li><h4>Sheet Music Count  : {{result.scores.length}}</h4></li>
        </ul>
    </div>


    <div class="col-md-8 col-sm-8 col-xs-8 list-score fade" ng-class="{in:result.scores.length}"  ng-if="result.scores.length">
        <div class="input-search col-md-12" >
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" ng-model="cquery" placeholder="Search sheet music">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="search">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                    </span>
            </div>
        </div>
        <table class="table table-striped table-hover fade" ng-class="{in:result.scores.length}"  ng-if="result.scores.length">
            <thead>
            <tr>
                <th>Title
                    <a ng-click="setOrder('title')" ng-if="orderProp!='title'"><span class="glyphicon glyphicon-sort-by-alphabet"></span></a>
                    <a ng-click="setOrder('-title')" ng-if="orderProp!='-title'"><span class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
                </th>
                <th>Preview</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="score in result.scores | orderBy:orderProp | filter:cquery">
                <td><a href="#/sheetmusic/{{score.shortname}}" ng-bind="score.title"></a></td>
                <td>
                    <span ng-if="score.audiourl" class="glyphicon glyphicon-music" title="Audio Preview"></span>
                    <span ng-if="score.videourl" class="glyphicon glyphicon-film" title="Video Preview"></span>
                </td>
            </tr>
            </tbody>
        </table>
        <ul class="pagination" ng-if="result.scores.length">
            <li class="disabled"><a href="#">«</a></li>
            <li class="active"><a href="#">1</a></li>
            <li class="disabled"><a href="#">»</a></li>
        </ul>
        <h4>
            <a href="#/sheetmusic">View All Sheet Music</a> | <a href="#/types/{{result.pshortname}}">View Other {{result.pshortname | titlelize}}</a>
        </h4>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-8 list-score" ng-if="result.scores.length == 0">
        <h2>No Sheet Music Found Here</h2>
        <h4>
            <a href="#/sheetmusic">View All Sheet Music</a> | <a href="#/types/{{result.pshortname}}">View Other {{result.pshortname | titlelize}}</a>
        </h4>
    </div>

</div>
