
<!-- Content -->
<div class="container text-center">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center list-full">

        <div class="col-md-12 col-sm-12 col-xs-12 pull-left text-left nopadding">
            <h1 class="col-md-8 col-sm-8 col-xs-12 pull-left">Download Your Purchase</h1>

            <h4 class="col-md-4 col-sm-4 col-xs-12 pull-right text-right">
                <a class="pull-center need-help" href="#/sheetmusic">Continue Shopping</a>
            </h4>

            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <p class="well">
                    <span ng-show="loading" class="loader"></span>
                    <span class="text-danger" ng-if="res.url && loading == false">You have {{3-res.time}} more attempts left
                        <a class="btn-warning pull-right" ng-if="res.url" target="_self" ng-href="{{res.url}}" download><span class="glyphicon glyphicon-download"></span> Click to Download PDF</a>

                    </span>
                    <span class="clearfix"></span>

                    <object ng-if="res.url" data="{{res.url}}" type="application/pdf">
                        <embed src="{{res.url}}" type="application/pdf" />
                    </object>
                    <span class="clearfix"></span>
                    <span class="text-danger" ng-bind="res.message" ng-if="res.message"></span>
                </p>
            </div>
            <h4 class="col-md-12 col-sm-12 col-xs-12">
                Need help? Click to<a href="#/contact">Contact Us</a>
            </h4>
        </div>
    </div>

</div>
