
<!-- Content -->
<div class="container text-center">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center list-full">

        <div class="col-md-12 col-sm-12 col-xs-12 pull-left text-left nopadding">
            <h1 class="col-md-8 col-sm-8 col-xs-12 pull-left">Download Your Purchase</h1>

            <h4 class="col-md-4 col-sm-4 col-xs-12 pull-right text-right">
                <a class="pull-center need-help" href="#/sheetmusic">Continue Shopping</a>
            </h4>

            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <div class="well text-left">
                    <span ng-show="loading" class="loader"></span>
                    <div class="text-center" ng-if="res.token">
                        <h2 ng-if="res.title" ng-bind="res.title"></h2>
                        <h4 ng-if="res.name" ng-bind="res.name"></h4>
                        <a class="btn btn-lg" ng-class="downloadclass" target="_blank" ng-click="downloadfile()" ><span class="glyphicon glyphicon-download"></span> {{downloadtext}}</a>

                        <h4 class="text-danger">You have {{3-res.time}} chances to download the file. <span ng-if="res.time<3 && downloaded">Refresh the page to request a new download.</span></h4>
                    </div>
                    <span class="clearfix"></span>

                    <h4 class="text-danger" ng-bind="res.message" ng-if="res.message"></h4>
                </div>
            </div>
            <h4 class="col-md-12 col-sm-12 col-xs-12">
                Need help? Click to<a href="#/contact">Contact Us</a>
            </h4>
        </div>
    </div>

</div>
