
<!-- Content -->
<div class="container text-center">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center list-full">

        <div class="col-md-12 col-sm-12 col-xs-12 pull-left text-left nopadding">
            <h1 class="col-md-8 col-sm-8 col-xs-12 pull-left">Download Your Purchase</h1>

            <h4 class="col-md-4 col-sm-4 col-xs-12 pull-right text-right">
                <a class="pull-center need-help" href="#/sheetmusic">Continue Shopping</a>
            </h4>

            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <div class="well text-left">
                    <span ng-show="loading" class="loader"></span>

                    <div class="col-md-6 col-sm-6 col-xs-12" ng-if="res.url && loading == false">
                        <h2 ng-if="res.title" ng-bind="res.title"></h2>
                        <h4 ng-if="res.name" ng-bind="res.name"></h4>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 text-center" ng-if="res.url">
                        <a class="btn btn-lg" ng-class="downloadclass" target="_blank" ng-href="{{res.url}}" download><span class="glyphicon glyphicon-download"></span> {{downloadtext}}</a>

                        <div class="alert">
                            <span ng-if="res.url && loading == false">Do Not refresh the page. Download will be opened in a new window.</span>
                        </div>
                    </div>

                    <h4 ng-if="res.url && loading == false">
                        <span class="text-danger">If the download didn't start automatically, please use the button above. <br>
                        You have <b>{{3-res.time}}</b> more attempts to visit the current page (the link sent to your Email Inbox), but you can click on the button above to download the file as long as you do <b>NOT</b> refresh the page.</span>
                    </h4>

                    <h4 class="text-danger" ng-bind="res.message" ng-if="res.message"></h4>
                </div>
            </div>
            <h4 class="col-md-12 col-sm-12 col-xs-12">
                Need help? Click to<a href="#/contact">Contact Us</a>
            </h4>
        </div>
    </div>

</div>
