
<!-- Content -->
<div class="container text-center">

    <div class="col-md-12 col-sm-12 col-xs-12 list-full fade" ng-class="{in:scores.length}">
        <h1 class="text-left">Sheet Music</h1>
        <div class="input-search col-md-12">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="query" placeholder="Search for Sheet music">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="search">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                    </span>
            </div>
        </div>


        <h4 ng-if="fields.query" >Search result:</h4>

        <table class="table table-striped table-hover" ng-if="table">
            <thead>
            <tr>
                <th class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a ng-click="orderProp = 'title'; reverse=!reverse">Title</a>
                </th>
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <a ng-click="orderProp = 'price'; reverse=!reverse">Price</a>
                </th>
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Preview</th>
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <a ng-click="orderProp = 'createdAt'; reverse=!reverse">Added Date</a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in scores | orderBy:orderProp:reverse | filter:query">
                <td><a href="#/sheetmusic/{{item.shortname}}" ng-bind="item.title"></a></td>
                <td><small>{{item.price | currency:'£'}}</small></td>
                <td>
                    <span ng-if="item.imageurl" class="glyphicon glyphicon-picture" title="Audio Preview"></span>
                    <span ng-if="item.audiourl" class="glyphicon glyphicon-music" title="Audio Preview"></span>
                    <span ng-if="item.videourl" class="glyphicon glyphicon-film" title="Video Preview"></span>
                </td>
                <td><small>{{item.createdAt | date : 'yyyy-MM-dd'}}</small></td>
            </tr>
            </tbody>
        </table>

        <ul class="pagination" ng-if="scores.length">
            <li class="disabled"><a href="#">«</a></li>
            <li class="active"><a href="#">1</a></li>
            <li class="disabled"><a href="#">»</a></li>
        </ul>

    </div>

</div>
