

<!-- Content -->
<div class="container text-center fade" ng-class="{in:score}">

    <div class="col-md-4 col-sm-4 col-xs-12 text-left score-detail">
        <ul class="">
            <li><h1><span ng-bind="score.title"></span></h1></li>
            <li ng-if="!score.obsolete">
                <a type="button" class="btn {{action_class}}" ng-click="addcart()" ng-bind="action"></a>
            </li>
            <li ng-if="score.obsolete">
                <a type="button" class="btn btn-default">Out of Stock</a>
            </li>
            <li ng-if="score.links.length"><h4><a type="button" class="btn-detail btn-nolink btn btn-primary" ng-repeat="link in score.links">{{link.desc}}</a></h4></li>
            <li>
            <ul ng-show="!collapsed">
                <li><h4>Price: <span ng-bind="score.price | currency:'£'"></span></h4></li>
                <li><h4>Page: <span ng-bind="score.page"></span></h4></li>
                <li><h4>Tags: <a type="button" class="btn-detail btn btn-default" href="#/subtypes/{{type.id}}" ng-repeat="type in score.types" ng-if="!type.obsolete" ng-bind="type.name"> </a></h4></li>
                <li ng-if="score.audiourl || score.videourl">
                    <h4>
                    Preview:
                    <a type="button" class="btn-detail btn btn-default btn-nolink"  ng-if="score.audiourl" href="" >Audio</a>
                    <a type="button" class="btn-detail btn btn-default btn-nolink"  ng-if="score.videourl" href="" >Video</a>
                    </h4>
                </li>
                <li ng-if="score.desc">
                    <h4><span class="well" ng-bind="score.desc"></span></h4>
                </li>
                <!--
                <li>
                    <h4>Share:
                    <span>
                        <a><img alt="Facebook" src="images/bg-trans.gif" class="icon-facebook"></a>
                        <a target="_blank" href="https://plus.google.com/+LazySheetMusic/posts"><img alt="Google+" src="images/bg-trans.gif" class="icon-googleplus"></a>
                        <a target="_blank" href="https://www.linkedin.com/in/shihwendy"><img alt="LinkedIn" src="images/bg-trans.gif" class="icon-linkedin"></a>
                        <a target="_blank" href="https://www.youtube.com/channel/UCVwUUu_AQdcpV4Vzv_9D2AA"><img alt="Youtube" src="images/bg-trans.gif" class="icon-youtube"></a>

                    </span>
                    </h4>
                </li>
                -->
            </ul>
            </li>
        </ul>
    </div>

    <div class="col-md-8 col-sm-8 col-xs-12 text-left score-main">

        <p class="loader" ng-show="loading"></p>
        <div name="audio" ng-if="score.audiourl" class="main-media">
            <audio class="" ng-src="{{trustSrc(score.audiourl)}}" controls="controls" preload="auto" >Your browser does not support the HTML5 Audio element.</audio>
        </div>

        <img class="main-image" ng-if="score.imageurl && loading == false" ng-src="{{score.imageurl}}" alt="Loading Preview Image">

        <!-- 4:3 aspect ratio -->
        <div id="video" name="video" ng-if="score.videourl" class="col-md-12 embed-responsive embed-responsive-16by9">
            <iframe type="text/html" class="col-md-12 embed-responsive-item" ng-src="{{trustSrc(score.videourl)}}"></iframe>
        </div>
    </div>
    <a class="btn-back btn btn-sm btn-primary" href="#/sheetmusic">BACK TO LIST</a>
</div>
