<div class="slider">
    <p class="loader" ng-show="loading"></p>
    <div class="fade" ng-class="{in:!loading}">
    <div class="slide-index"><h4>{{currentIndex}} / {{images.length}}</h4></div>
	<!-- Slide Show-->
	<div class="slide-prev">
	   <div class="slide-prev-single" ng-class="setSliderActive($index)"  ng-repeat="image in images">
           <img id="slide{{$index}}" ng-click="jump($index)" ng-src="{{image.thumburl}}"/>
           <div class="slide-name text-center"><a href="#/sheetmusic/{{image.shortname}}">{{image.title}}</a></div>
	   </div>
	</div>

	<div class="slide"
		ng-repeat="image in images | orderBy:orderProp"
		ng-show="image.visible">
        <a href="#/sheetmusic/{{image.shortname}}"><img ng-src="{{image.imageurl}}" /></a>
        <div class="slidebtn"><a href="#/sheetmusic/{{image.shortname}}"><h4>Read More</h4></a></div>
    </div>
	<div class="slide-index-left"><a ng-click="prev()"><span class="glyphicon glyphicon-chevron-left" ></span></a></div>
    <div class="slide-index-right"><a ng-click="next()"><span class="glyphicon glyphicon-chevron-right" ></span></a></div>
	<!-- 
	<div class="slide-name"><a ng-href="#/sheetmusic/{{shorturl}}">Read More</a></div>
	 -->
    </div>
</div>
