
<!-- Content -->
<div class="container text-center">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center list-full">

        <div class="col-md-8 col-sm-8 col-xs-12 pull-left text-left nopadding">
            <h1>Terms & Policies</h1>
            <h2 class="text-danger heading">Refund Policy</h2>
            <h4>
                <p class="text-left">
                    Due to the copyright restrictions we can not offer a refund of your Digital Print title after it has been printed, unless there was a problem with your print.  If there was a problem printing or you have not yet printed your Digital Print title, request a refund by using the contact form on our website.
                </p>
            </h4>
            <h2 class="text-danger heading">Privacy Policy</h2>
            <h4 class="heading2">WHAT DO WE DO WITH YOUR INFORMATION?</h4>
            <h4>
                <p class="text-left">
                When you purchase something from our website, as part of the buying and selling process, we collect the personal information you give us such as your name, address and email address.
                </p>
                <p>When you browse our store, we also automatically receive your computer’s internet protocol (IP) address in order to provide us with information that helps us learn about your browser and operating system.
                </p>
                <p>Email marketing (if applicable): With your permission, we may send you emails about our store, new products and other updates.</p>
            </h4>
            
            <h4>Click to<a href="#/contact">Contact Us</a></h4>

        </div>

        <div class="col-md-3 col-sm-3 col-xs-12 pull-right text-left">
            <h4>Follow Us</h4>
            <h5>
            <p>
                <img src="images/icon-youtube2.png"><a target="_blank" href="https://www.youtube.com/channel/UCVwUUu_AQdcpV4Vzv_9D2AA">Youtube</a>
            </p><p>
                <img src="images/icon-facebook.png"><a href="#">Facebook</a>
            </p><p>
                <img src="images/icon-googleplus.png"><a href="#">Google+</a>
            </p><p>
                <img src="images/icon-linkedin.png"><a href="#">Linkedin</a>
            </p>
            </h5>
        </div>
    </div>

</div>
