<div class="container text-center">

    <div class="col-md-3 col-sm-3 col-xs-3 text-left account-menu">
        <ul class="">
            <li><h4>Welcome Admin</h4></li>
            <li><a href="#/admin" class="active">Settings</a></li>
            <li><a href="#/admin/users">User List</a></li>
            <li><a href="#/admin/scores">Sheet Music</a></li>
            <li><a href="#/admin/categories">Categories (Tags)</a></li>
        </ul>
    </div>

    <div class="col-md-9 col-sm-9 col-xs-9 text-left act-list">

        <h2>Admin Settings</h2>
        <ul class="">
            <li class="row">
                <span class="act-label">USERNAME</span>
                <span class="act-content">{{user.username}}</span>
            </li>
            <li class="row">
                <span class="act-label">EMAIL</span>
                <span class="act-content">{{user.username}}</span>
            </li>
            <li class="row">
                <span class="act-label">PASSWORD</span>
                <span class="act-content act-btn"><a type="button" ng-click="launch('create')" class="btn btn-primary btn-sm">Click to Change</a></span>
            </li>
        </ul>
    </div>

</div>
