

<div class="container breadcrumbBox">
    <ol class="breadcrumb">
        <li><a href="#/home"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="#/{{shortname}}">{{typename}}</a></li>
    </ol>
</div>
<!-- Content -->
<div class="container text-center">

    <div class="col-md-12 col-sm-12 col-xs-12 text-center list-category">
        <div class="input-search">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="query">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Search</button>
                    </span>
            </div>
        </div>

        <a type="button"href="#/{{shortname}}/{{item.c_shortname}}" class="btn btn-default btn-inline btn-category" ng-repeat="item in categories | filter:query | orderBy:orderProp">
            {{item.c_name}}
        </a>
    </div>

</div>