/*-----------------------------------
	General Styles
-----------------------------------*/
html,body {
    padding: 0;
    margin: 0;
    height: 100%;
    color: #325050;
    overflow-x:hidden;
    /*color: #727578;*/
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background-color: #f8f9fa;
    /*
        background-image: -moz-radial-gradient(center 45deg,circle cover, #e1e2e3, #fff);
        background-image: radial-gradient(center 45deg,circle cover, #e1e2e3, #fff);
        background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%,800, from(#e1e2e3), to(#fff));
        background-color: #f8f9fa;*/

    scrollbar-base-color: #C0C0C0;
    scrollbar-base-color: #C0C0C0;
    scrollbar-3dlight-color: #C0C0C0;
    scrollbar-highlight-color: #C0C0C0;
    scrollbar-track-color: #EBEBEB;
    scrollbar-arrow-color: black;
    scrollbar-shadow-color: #C0C0C0;
    scrollbar-dark-shadow-color: #C0C0C0;
}

.nopadding{
    padding:0;
}

.noleftpadding{
    padding-left:0;
}

.norightpadding{
    padding-right:0;
}

ul {
    list-style-type: none;
}

a {
    padding: 3px 5px;
}

a:hover,a.active {
    text-decoration: none;
    cursor: pointer;
    background-color: #468595;
    color: #fff;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.1em;
}

.container {
    max-width: 1060px;
}
/* colors */
.btn-default {
    background-color: #f8f9fa;
}

.btn-default:hover {
    color: #f8f9fa;
    background-color: #468595;
    border-color: #468595;
}

.btn-danger,.btn-danger.active {
    background-color: #f08573;
    border-color: #f08573;
}

.text-danger{
    color: #f08573;
}

.btn-danger:hover {
    background-color: #f06953;
    border-color: #f08573;
}

.btn-primary,.btn-primary.active {
    background-color: #468595;
    border-color: #468595;
}

.btn-primary:hover {
    background-color: #287A95;
    border-color: #287A95;
}

.btn-warning,.btn-warning.active {
    background-color: #f0b66d;
    border-color: #f0b66d;
}

.btn-warning:hover {
    background-color: #F0B723;
    border-color: #F0B723;
}

.btn-category {
    color: #468595;
}

.btn-category:hover {
    color: #f8f9fa;
    background-color: #468595;
    border-color: #468595;
}

#pagination li a.active {
    background-color: #468595;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #468595;
}

a {
    color: #468595;
}

.well {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/*View Container*/
.view-container {
    padding-bottom: 30px;
    /*
        background: #f8f9fa;

                background-image: -moz-radial-gradient(center 45deg,circle cover, #e1e2e3, #fff);
                background-image: radial-gradient(center 45deg,circle cover, #e1e2e3, #fff);
                background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%,800, from(#e1e2e3), to(#fff));

                    background: -webkit-linear-gradient(top, #333 , #f8f9fa);
                    background: -o-linear-gradient(bottom, #333 , #f8f9fa);
                    background: -moz-linear-gradient(bottom, #333 0%, #333 50%, #f8f9fa 50%, #f8f9fa 100%);
                    background: linear-gradient(to bottom, #333 0%, #333 33% , #f8f9fa 33%, #f8f9fa 100%);
                    */
}

#main-container {
    min-height: 98%;
    position: relative;
    margin: 0;
    padding-bottom: 50px;
    /*background-color:whitesmoke;*/
}

#logo {
    width: 200px;
}

.biglogo {
    margin-top: 120px;
    width: 380px;
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
}

.centered {

}
/*Footer*/
#footer {
    padding: 0;
    min-height: 40%;

	background-color: #333;
	color: #e5e5e5;

    border-top:1px solid #e5e5e5;

    width: 100%;
    font-size:14px;
}

#footer img {
    height: 30px;
    margin: 10px;
}

#footer a:hover {
    background:none;
}

#footer .container {
    margin: 0 auto;
    padding: 20px 0;
    height:100%;
    /*
    border-top: 1px solid #e5e5e5;
    */
}

#footer .container p{
	height:50%;
	line-height: 40px;
	padding:30px 0;
}

/*-----------------------------------
	Navbar
-----------------------------------*/
.cusnav{
    /*border-bottom: 4px solid #468595;*/
}
.navbar {
    padding: 10px 0;
    border-radius: 0;
    margin: 0;
        background: url("../images/container-bg.jpg") repeat scroll 1% 0 #363739;
    /*
        box-shadow: 0 1px 3px rgba(0,0,0,0.25);
        */
}

.navbar-brand {
    margin-right: 30px;
}

.logo{
    width:50px;
    height:50px;
    background-color:#fff;
    background-image:url(../images/logo.png);
}

.navbar-brand:hover {
    color: #fff;
}

.navbar-right {
}

.navbar-nav {

}

.nav-pills {
    margin-top: 5px;
}

.navbar-nav .active {

}

.navbar-nav .active:after{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;

    border-image: none;
    border-style: solid;
    content: " ";
    top: 100%;
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;

    /*
    border-color: #468595 rgba(70, 133, 149, 0) rgba(70, 133, 149, 0);
    border-top-color: #468595;
    border-width: 12px;
    margin-left: -12px;

    border-color: #222 rgba(46, 46, 46, 0) rgba(46,46,46, 0);
    border-top-color: #333;
    border-width: 20px;
    margin-left: -20px;
    */
}

/*
.navbar-nav .active:after, .navbar-nav .active:before{
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.navbar-nav .active:after{

    border-color: #222 rgba(34, 34, 34, 0) rgba(34, 34, 34, 0);
    border-top-color: #222;
    border-width: 10px;
    margin-left: -10px;
}

.navbar-nav .active:before{
    border-color: #468595 rgba(70, 133, 149, 0) rgba(70, 133, 149, 0);
    border-top-color: #468595;
    border-width: 16px;
    margin-left: -16px;
}
*/
/*-----------------------------------
	Breadcrumb
-----------------------------------*/
.breadcrumb>.active a {

}

.breadcrumb li a {

}

.breadcrumb>li+li:before {
    content: "\00BB";
}

.breadcrumb {
    background: none;
    margin-bottom: 10px;
    border: none;
    padding: 5px;
    font-size: 0.7em;
}

.breadcrumbBox {
    padding: 20px 0 5px 0;
    /*border-bottom: 1px solid #e5e5e5;*/
}

/* Modal */
.modal{
    display:block !important;
    background-color:rgba(0,0,0,0.4);
}
.nomodal{
	   display:none;
}

.modal-content{
    margin-top:100px;
    width:300px;
    min-height:150px;
}

.modal-dialog{
    width:300px;
    min-height:150px;
}

/*-----------------------------------
	Slider
-----------------------------------*/
.slider, .slide, .slide-prev{
    height: 480px;
}
.slider {
    position: relative;
    width: 100%;
    margin: auto;
    border:1px solid #d8d9da;
    overflow: hidden;
    background-color:#fff;
    padding: 0;
    
    /*
    background: url("../images/container-bg.jpg") repeat scroll 50% 0 #363739;
    box-shadow: 0 3px 10px -4px #000 inset, 0 -3px 10px -4px #000 inset;
  background-color: #333;
    -webkit-box-shadow: 0px 0px 15px #999;
    -moz-box-shadow: 0px 0px 15px #999;
    box-shadow: 0px 0px 15px #999;
    */
}

.slide {
    padding: 0;
    position: absolute;
    top: 0;
    left: 30%;
    width: 70%;
    z-index:0;
    
    overflow:hidden;
    white-space: pre-line;
}

.slide img {
    float: left;
    padding: 10px 80px;
    width: 100%;
    min-width: 240px;
    z-index:0;

    /*border: 1px solid #e5e5e5;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
*/
}

.slide a{
    padding: 0;
}

.slide-prev li a{
    float:left;
}

.slide a:hover{
    opacity:1;
    background-color:#fff;
}

.slide-prev {
    padding: 10px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    z-index:0;
    overflow-y: auto;
    
    /*
    overflow:hidden;
    
    white-space: pre-line;
    background: url("../images/container-bg.jpg") repeat scroll 50% 0 #363739;
    */

    background-color:#d8d9da;
}

.slide-prev-single{
    list-style:none;
    margin: 0 0 20px auto;
    display: inline;
    float:left;
    width:100%;
    min-height: 120px;
    overflow:hidden;
    position:relative;
}

.slide-prev-single img{
    width:80%;
    opacity:0.6;
    cursor:pointer;
    border:1px solid #fff;
}
.slide-prev-single img:hover, .slide-prev-single.active img{
    opacity: 1;
    cursor:pointer;
}

.slide-prev-single.active .slide-name a{
    display:block;
}

.slide-name{
	position: absolute;
	bottom: 0;
    text-align:center;
    width:100%;
	/*
	background: url("../images/container-bg.jpg") repeat scroll 50% 0 #363739;
  */
}

.slide-name a{
    background-color:#a8a9aa;
    color:#fff;
    display:none;
    width:60%;
}

.slide-name a:hover{
    text-decoration:underline;
}

.slide-prev-single.active .slide-name a:after{
}

.slide-index-left a, .slide-index-right a{
	font-size:25px;
    border-radius:5px;
	color:#fff;
    background-color:#d8d9da;
}

.slide-index-left a:hover, .slide-index-right a:hover{
	background:none;
	text-decoration:underline;
    background-color:#333;
}

.slide-index-left, .slide-index-right{
    height:40px;
    line-height:40px;
    text-align:center;
    padding: 0;
    z-index:1000;
    position:absolute;
    top:220px;
    margin:0;
    width:40px;
    opacity:0.9;
    /*
    background: url("../images/container-bg.jpg") repeat scroll 50% 0 #363739;
    */
}

.slide-index-left{
    left: 30%;
}

.slide-index-right{
    right: 0;
}

.left-arrow:hover {

    background-position:0px -25px;
    /*
    width: 36px;
    height: 71px;
    background-image:url(../images/paddle_prev_fff.png);
    */
    opacity: 1;
}

.right-arrow:hover {

    background-position:-25px -25px;
    /*
    width: 36px;
    height: 71px;
    background-image:url(../images/paddle_next_fff.png);
    */
    opacity: 1;
}

.arrows img {
    height: 32px;
}

.slide.ng-hide-add,.slide.ng-hide-remove {
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
    display: block !important;
}

.slide.ng-hide-add.ng-hide-add-active,.slide.ng-hide-remove {
    opacity: 0;
}

.slide.ng-hide-add,.slide.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}

/*-----------------------------------
	Main
-----------------------------------*/
.container.text-center {
    padding: 0;
    z-index:1000;
}

/*-----------------------------------
    List
------------------------------------*/

table{
    text-align:left;
    font-size:14px !important;
}

table td{
    padding: 12px 8px !important;
    font-size:16px;
}
.btn-group.btn-left {
    clear: both;
    float: left;
    margin: 0 0 20px 0;
}

.btn-group.btn-right {
    clear: right;
    float: right;
}

.btn-inline {
    float: left;
    margin: 0 20px 20px 0;
    display:table-row;
}

.dropdown-title {
    margin-top: 0;
    margin-bottom: 30px;
}

.dropdown-label,.dropdown-label-sub {
    float: left;
    padding: 7px;
    clear: left;
    width: 40%;
    color: #325050;
    /*color: #727578;*/
}

.dropdown-label-sub {
    padding-left: 13px;
    font-weight: normal;
}

.dropdown-order,.dropdown-number,.dropdown-category {
    clear: right;
    float: left;
    padding: 0;
    margin: 0 0 20px 0;
    width: 60%;
}

.list-score, .score-main {
    min-width: 300px;
    max-width: 690px;
    margin-right: 10px;
    padding:10px 20px 40px 20px;
    background-color:#fff;
    border-left:1px solid #eee;
    border-right:1px solid #eee;
    border-top:1px solid #eee;
    display:table;
    height: 480px;
}

.list-full {
    min-width: 300px;
    max-width: 1060px;
    border:1px solid #e5e5e5;
    background-color:#fff;
    padding:10px 30px 30px;
    display:table;
    height:480px;
}

.list-full h1, .list-full h2, .list-full h4, .score-main h1, .score-main h2, .score-main h4, .list-score h1, .list-score h2, .list-score h4{
    padding: 0;
}

.list-full h4, .list-full h2, .score-main h4, .list-score h4{
    margin-top:30px;
}

.list-full .heading{
	font-weight:bold;
	text-decoration: underline;
}

.list-full .heading2{
	font-weight:bold;
}

.list-full ul{
    text-align:left;
}

.list-full p{
    line-height:30px;
}

.list-filter,.score-detail {
    padding: 20px 30px;
    margin-bottom: 30px;
    float: right;
    font-size: 0.95em;
    background-color: #fff;
    border-left:1px solid #eee;
    border-right:1px solid #eee;
    border-top:1px solid #eee;
    /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);*/
    min-height: 200px;
    /*
    max-width: 320px;
    min-width: 160px;
    */
}

.form-group{
    min-height:50px;
    margin:30px 0 0 0;
    line-height:50px;
    padding: 0;
}

.form-group input{
    height:50px;
}

.form-group label{
    font-size:1.1em;
}

.form-group textarea{
    height:150px;
}

.input-search{
    margin: 20px 0;
    padding: 0;
}

.input-search .form-control {
    background-color: #f8f9fa;
    box-shadow: none;
    font-size:14px;
}

.score-list {
    clear: both;
    margin: 0 0 0 0;
    padding: 0;
}

.act-list ul.list-detail {
    margin: 20px 0 0 10px;
    padding-top: 10px;
    font-size: 0.9em;
    min-height: 0;
}

.list-item {
    font-size: 1em;
    float: left;
    margin-left: 0;
}

.list-added {
    font-size: 0.85em;
    float: right;
    margin: 0 10px;
}

.list-icon {
    float: right;
    margin: 0 5px;
}

.act-list .row:hover {
    /*background: none;*/

}

.row {
    border-bottom: 1px solid #e1e5e8;
    margin: 5px 0 11px 0;
    clear: both;
}

form .row {
    border-bottom: none;
}

.row span {
    padding: 15px 0 6px 0;
}

.row span span {
    padding: 0;
}

.row p {
    color: #898e92;
    line-height: 1.5;
    max-width: 400px;
    text-align: justify;
}

/*-----------------------------------
    Score Detail
------------------------------------*/
.list-score h1, .score-main h1{
    margin-top:10px;
}
.main-image {
    width: 100%;
    /*
        border: 1px solid #e5e5e5;

        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        */
    padding: 0;
    margin-bottom: 10px;
}

.main-media {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 10px;
}

audio {
    width: 100%;
}

/* .score-detail same as .list-filter*/
.score-detail ul {
    padding: 0;
}

.score-detail li {
    margin-bottom: 20px;
    word-wrap: break-word;
}

.score-detail h1 {
    font-size:2em;
    margin-top: 0;
}

.score-detail p {
    line-height: 1.5;
    text-align: justify;
}

.detail-header {
    width: 100%;
    background-color: #363636;
}

.score-video {

}

.btn-back{
    position:fixed;
    top:30%;
    left:0;
    z-index:1001;
}

.btn-detail {
    padding: 4px 8px;
    font-size: 0.8em;
    margin: 2px 5px;
    text-transform: uppercase;
}

/* User Account Page */
.account-menu , .contact-side{
    margin: 0 0 30px 0;
    padding: 0 20px;
    font-size: 0.95em;
    text-align: left;
    max-width: 240px;
    min-width: 180px;
    background-color: #fff;
    border-left:1px solid #eee;
    border-right:1px solid #eee;
    border-top:1px solid #eee;
}

.contact-side{
    width:240px;
}

.account-menu li, .contact-side li {
    margin: 0 0 20px 0;
}

.act-list, .contact-main {
    font-size: 1em;
    text-align: left;
    max-width: 808px;
    min-width: 300px;
    margin: 0 0 30px 10px;
    padding:0 25px 25px;

    background-color:#fff;
    border-left:1px solid #eee;
    border-right:1px solid #eee;
    border-top:1px solid #eee;
    
    display:table;
    height: 480px;
}

.contact-main{
    /*max-width:630px;*/
}

.act-list ul,.account-menu ul, .contact-main ul, .contact-side ul {
    padding: 0;
}

.act-list ul, .contact-main ul {
    margin-bottom: 50px;
    min-height: 120px;
}

.act-list li, .contact-main li {
    padding: 10px 0;
    line-height: 10px;
}

.act-list h1, .act-list h2, .list-score h2, .score-main h2{
    margin-bottom:20px;
}

.act-list h2 span {
    padding: 0;
    margin: 0 0 0 15px;
}

.act-list h2 span span{
    margin: 0;
}

.act-list h2 span .btn {
    padding: 7px 30px;
}

.act-list .list-item {
    font-size: 1.1em;
}

.act-label {
    width: 30%;
    text-align: left;
    float: left;
    padding-left: 5px;
    font-weight: bold;
}

.act-content {
    width: 70%;
    text-align: left;
    float: left;
}

input.act-content,textarea {
    border: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 40px;
    resize: none;
}

.act-btn {
    padding-top: 0px !important;
}

.act-list .admin-action-bar {
    clear: both;
    padding: 0;
    margin: 5px 0;
}

.act-list .admin-search {
    padding: 0;
    margin: 0;
    float: left;
}

.act-list .admin-dropdown-order {
    padding: 0;
    margin: 0;
    float: right;
}

/*-----------------------------------
	Cart logo and description
----------------------------------- */

/*-----------------------------------
	Cart items list
-----------------------------------*/

/* Column Captions */
.columnCaptions {
    color: #7e93a7;
    font-size: 0.85em;
    text-transform: uppercase;
    padding: 0;
    box-shadow: 0 0 0;
    margin: 20px 0 0 0;
}

.columnCaptions span:first-child {
    float: left;
    padding-left: 0;
}

.columnCaptions span {
    float: right;
    padding: 0 21px 0 0;
}

.columnCaptions span:last-child {
    float: right;
    padding-right: 0;
}

/* Items */

/*
.itemName{
    color: #727578;
    font-size :16px;
    font-weight: bold;
    float: left;
    padding-left:25px;
}
*/
.list-action {
    font-size: 0.85em;
    float: right;
    margin: 0 10px;
    padding: 7px 0 0 0 !important;
    cursor: pointer;
    text-align: center;
}

.admin-action {
    clear: left;
    margin-bottom: 5px;
}

.action {
    margin-right: 21px;
    float: right;
}

.price {
    font-size: 1em;
    float: right;
}

/* Totals */
.totals span {
    padding: 40px 15px 0 0;
}

.totals .total {
    float: left;
    padding-left: 5px;
}

.totals .list-item {
    margin-top: 1px;
}

.totals .order {
    float: right;
    padding: 0;
    margin-top: 40px;
    padding-left: 5px;
    cursor: pointer;
}

.totals .paypal {
    clear: both;
    float: right;
    margin: 0 36px 0 0;
    width: 78px;
    padding: 10px 0;
}

.order a {
    background-color: #f08573;
    color: #fbfffa;
    font-weight: bold;
    border-radius: 2px;
    padding: 20px 30px;
}

/* Popovers */
/*
.popover{
    border-radius: 3px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
    border: 0;
    background-color: #ffffff;
}

.popover.bottom{
    margin-top: -9px;
}

.glyphicon{
    width: 20px;
    font-size: 20px;
    padding: 0;
}

.glyphicon-pencil{
    color: #858e97;
    margin: 7px 12px 7px 10px;
}

.glyphicon-remove{
    color: #f06953;
    margin-right: 10px;
}
*/
/*-----------------------------------
    Sign In Form
------------------------------------*/
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 30px auto 0;
    font-size: 0.95em;
}

span.form-check {
    padding: 0;
    color: #f08573;
    margin-top: 20px;
}

span.form-success{
    color: #468595 !important;
}

.form-signin .form-signin-heading,.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .need-help {
    margin: 10px 0 0 0;
    display: block;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    font-size: 1em;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-bottom: -1px;
    border-radius: 0;
}

.form-signin button {
    margin-top: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/*-----------------------------------
	Media Queries
----------------------------------- */
/* Large */
@media ( max-width: 1200px){
    .container{
        max-width: 960px;
    }
    .score-main, .list-score{
        max-width:628px;
    }
    .act-list, .contact-main{
        max-width:708px;
    }
}

/* Tablet size */
@media ( max-width : 992px) {
    body{
    }
    #footer{
    }

    #footer .container p{
      padding:30px 0;
    }

    .container.text-center {
        padding: 0;
    }
    .view-container {
        padding-bottom: 30px;
    }
    .biglogo {
        margin-top: 70px;
        width: 300px;
    }
    .form-signin{
        margin-top: 20px;
    }

    .slider, .slide, .slide-prev{
        height:400px;
    }

    .slide img {
        margin-right: 40px;
    }

    .slide-index-left, .slide-index-right{

        top:190px;
    }
    /*
    .breadcrumb{
        margin-bottom: 32px;
        border: none;
    }
    */

    /*score-detail*/

    .list-score, .score-main, .contact-main{
        max-width:490px;
    }
    .act-list{
        max-width:550px;
    }
    .list-filter,.score-detail {
        padding: 20px;
        border-top:1px solid #eee;
    }
    .score-detail li {
        margin-bottom: 15px;
    }
    .score-detail h1 {
        font-size: 1.8em;
    }
    .btn-inline {
        margin: 10px 10px 10px 0;
    }
    .btn.btn-detail {
        padding: 4px 6px;
        font-size: 0.7em;
        margin: 2px 5px;
        text-transform: uppercase;
    }
    .list-score,.score-main,.list-full,.contact-main {
        /*padding: 0 15px 0 5px;*/
        margin: 0 0 72px;
    }
    .act-list{

        margin-left:10px;
    }
    .list-action {
        padding: 6px 0 0 0 !important;
    }
    .totals {
        -webkit-box-shadow: 0 0 0;
        -moz-box-shadow: 0 0 0;
        box-shadow: 0 0 0;
    }
    .row span {
        padding: 15px 0 4px 0;
    }
}

/* Mobile device size */
@media ( max-width : 767px) {

    body{
        padding: 0;
    }
    .btn-back{
        display:none;
    }
    .navbar{
        background: none;
        background-color: #333;
    }

    .navbar-fixed-top{
        position:relative;
        padding:0;
    }

    .navbar-nav .active:after{
        border-width:0;
        margin-width:0;
    }

    #footer{
        position:relative;
        clear:both;
    }
    #footer .container{
        margin: 20px auto 0;
    }
    #footer .container p{
      padding:10px;
    }
    .navbar {
        padding: 10px 0;
    }
    .navbar-brand {
        /* padding-left: 0; */

    }
    .breadcrumbBox {
        padding-bottom: 10px;
    }
    .biglogo {
        margin-top: 50px;
        width: 250px;
        margin: 0 auto;
    }
    .view-container {
        padding-bottom: 20px;
    }
    .container.text-center{
        padding:0 15px 0 10px;
    }

    .input-search {
        margin: 20px auto;
        padding: 0;
    }
    .btn-inline{
        margin-left:10px;
    }
    .list-filter,.score-detail,.list-score,.score-main,.account-menu,.act-list,.list-full, .contact-side, .contact-main
    {
        float: none;
        margin: 0 auto;
        clear: both;
        min-height: 56px;
        min-width:300px;
        max-width:960px;
        /*max-width:80%;*/
    }
    .list-filter, .score-detail{
        border-left:1px solid #eee;
    }
    .list-score,.score-main,.account-menu,.list-full,.contact-side {
        padding: 10px 20px 30px;
        margin-bottom:15px;
        /*width:80%;*/
    }
    .list-full{
        min-height:400px;
    }
    .list-full h2, .list-full h1, .list-full h4, .list-score h1, .list-score h2, .list-score h4, .score-main h1, .score-main h2, .score-main h4{
        margin:10px auto;
    }
    .act-list, .contact-main {
        padding:0 20px;
        width:100%;
    }
    .act-list li, .contact-main li {
        padding: 3px 0;
        font-size: 0.95em;
    }
    .list-filter, .score-detail {
        /*width:80%;*/
    }
    .list-filter .btn {
        padding: 10px 15px;
    }
    .score-detail {
        text-align: center;
        margin-bottom: 15px;
    }
    .score-detail h1 {
        font-size: 1.8em;
    }
    .account-menu, .contact-side {
        text-align: center;
        width: 100%;
        margin-bottom: 15px;
    }
    .act-label,.act-content {
        width: 90%;
        margin-bottom: 10px;
    }
    .list-item,.act-list .list-item {
        text-align: left;
        margin-left: 0;
    }
    .act-list .list-item,.act-list .price {
        margin-top: 10px;
    }
    .list-added {
        margin: 0;
    }
    .list-action {
        padding: 10px 0 0 0 !important;
    }
    .admin-action {
        margin-right: 0px;
    }
    .columnCaptions span {
        padding: 0 21px 0 0;
    }
    .columnCaptions span:last-child {
        float: right;
    }
    .columnCaptions {

    }
    .row {
        padding-bottom: 10px;
    }
    .row span {
        padding: 10px 0 3px 0;
    }

    /* Change Bootstrap's default popover to make it look nice on a mobile device */
    .popover.bottom>.arrow {
        left: auto;
        margin-left: 0;
        right: 5px;
    }
    .popover.bottom {
        margin-top: 7px;
        margin-left: -40px;
    }

    .slider{
        margin-top: 20px;
        width:90%;
        padding: 0 20px;
        min-height:150px;
        max-height:480px;
    }
    .slide{
        width:100%;
        left:0;
        padding: 0;
    }
    .slide img{
        width:100%;
        min-height:auto;
        margin: 0 auto;
        float: none;
        padding: 0;
        min-width:240px;
    }
    .slide-prev{
        display: none;
    }
    .slide a{
        font-size:14px;
    }
    .slide-name{
        width:100%;
        left:0;
    }

    .slide-index-left{
        left:0;
    }
}

@media ( max-width : 560px) {
    .slider, .slide{
        height:360px;
        min-height:360px;
    }
    .slide img{
        padding: 0;
    }
    .slide-index-left, .slide-index-right{
        top:170px;
    }
}

