

<div class="container breadcrumbBox">
    <ol class="breadcrumb">
        <li><a href="#/home"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="#/{{uri}}">{{itemname}}</a></li>
    </ol>
</div>
<!-- Content -->
<div class="container text-center">

    <div class="col-md-4 col-sm-12 text-left list-filter">

        <span class="dropdown-label">Order By</span>
        <div class="dropdown-order">

            <select class="form-control" ng-model="orderProp">
                <option value="">--</option>
                <option value="name">Name</option>
                <option value="-count">Count of Sheet Music</option>
                <option value="type">Type</option>
            </select>
        </div>
    </div>

    <div class="col-md-8 col-sm-12">

        <div class="col-md-12 col-sm-12 input-search">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="query">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Search</button>
                    </span>
            </div>
        </div>

        <a type="button"href="#/{{uri}}/{{category.uri}}" class="btn btn-default btn-inline btn-category" ng-repeat="category in categories | filter:query | orderBy:orderProp">
            {{category.name}} ({{category.count}})
        </a>
    </div>

</div>