<!DOCTYPE HTML>
<html lang="en" ng-app="sheetmusicApp">
<head>
<meta charset="UTF-8">
<title>Wendy's Sheet Music</title>
<!-- AngularJS -->
<link rel="stylesheet" type="text/css" href="css/animations.css" media="all" />
<link rel="stylesheet" type="text/css" href="css/style.css" media="all" />
  <!-- AngularJS -->
  <script src="bower_components/jquery/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/animations.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/services.js"></script>

</head>
<body>
<!-- Fullscreen backgrounds -->
<div id="thumbs">
</div>
<div id="superbgimage">
	<div class="scanlines"></div>
</div>
<!-- End Fullscreen backgrounds -->
<!-- Begin Wrapper -->
<div id="wrapper">
  <div id="header">
    <div class="logo opacity"><a href="#/home"><img src="images/logo-wendy.png" alt="" /></a></div>
    <div class="social">
      <ul>
        <li><a href="#"><img src="images/icon-rss.png" alt="RSS" /></a></li>
        <li><a href="#"><img src="images/icon-facebook.png" alt="Facebook" /></a></li>
        <li><a href="#"><img src="images/icon-twitter.png" alt="Twitter" /></a></li>
        <li><a href="#"><img src="images/icon-googleplus.png" alt="Google+" /></a></li>
        <li><a href="#"><img src="images/icon-dribble.png" alt="Dribble" /></a></li>
        <li><a href="#"><img src="images/icon-flickr.png" alt="Flickr" /></a></li>
        <li><a href="#"><img src="images/icon-tumblr.png" alt="Tumblr" /></a></li>
      </ul>
    </div>
  </div>

  <!-- Begin Menu -->
  <div id="menu" class="menu opacity">
    <ul>
      <li><a href="#/home">Home</a></li>
      <li><a href="#/sheetmusic/">Sheet Music</a>
        <ul>
        	<li><a href="#/sheetmusic">All</a></li>
        	<li><a href="#/composers">Composers</a></li>
        	<li><a href="#/genres">Genres</a></li>
        	<li><a href="#/periods">Periods</a></li>
        </ul>
      </li>
      <li><a href="#/strings">Instruments</a>
      	<ul>
          <li><a href="tab-toggle-table.html">All</a></li>
      	  <li><a href="button-boxes-images.html">Cello</a></li>
      	  <li><a href="columns.html">Violin</a></li>
      	  <li><a href="typography.html">Piano</a></li>
          <li><a href="testimonials.html">Guitar</a></li>
        </ul>
      </li>
      <li><a href="#/about/">About</a>
      </li>
      <li><a href="#/contact/">Contact</a></li>
    </ul>
    <br style="clear: left" />
  </div>
  <!-- End Menu -->
  <div class="clear"></div>
  

  <!-- Begin Container -->
  <div class="container slider" ng-controller="SheetTopCtrl">
      <img ng-repeat="sheet in sheets" class="slide slide-animation"
          ng-hide="!isCurrentSlideIndex($index)" ng-src="{{sheet.imageUrl}}">

      <a class="arrow prev" href="#" ng-click="nextSlide()"></a>
      <a class="arrow next" href="#" ng-click="prevSlide()"></a>
      <nav class="nav">
          <div class="wrapper">
              <ul class="dots">
                  <li class="dot" ng-repeat="sheet in sheets">
                      <a href="#" ng-class="{'active':isCurrentSlideIndex($index)}"
                        ng-click="setCurrentSlideIndex($index);">{{sheet.snippet}}</a></li>
              </ul>
          </div>
      </nav>
  </div>
  <!-- End Showcase -->
    
    <div class="intro">Aenean fringilla aliquam est, a porttitor arcu euismod et. Maecenas rutrum erat at arcu porta interdum. Cras convallis ligula ac risus imperdiet placerat.</div>
    <div class="hr2"></div>
    <!-- Divider --> 
    
    <div class="clear"></div>
    <!-- Divider --> 
  </div>
  <!-- End Container -->
  
  <div id="copyright">
    <p>© 2014 Wendy's Sheet Music. All Right Reserved.</p>
  </div>
</div>
<!-- End Wrapper --> 
</body>
</html>