<div class="col-md-3 col-sm-3 col-xs-12 pull-right text-left" >
    <h3>Follow Us</h3>
    <h5>
        <img alt="" class="icon-youtube" src="images/bg-trans.gif">
        <a target="_blank" href="https://www.youtube.com/channel/UCVwUUu_AQdcpV4Vzv_9D2AA">Youtube</a>
    </h5>
    <h5>
        <img alt="" class="icon-facebook" src="images/bg-trans.gif">
        <a href="#">Facebook</a>
    </h5>
    <h5>
        <img alt="" class="icon-googleplus" src="images/bg-trans.gif">
        <a target="_blank" href="https://plus.google.com/+LazySheetMusic/posts">Google+</a>
    </h5>
    <h5>
        <img alt="" class="icon-linkedin" src="images/bg-trans.gif">
        <a target="_blank" href="https://www.linkedin.com/in/shihwendy">LinkedIn</a>
    </h5>
</div>