
<div class="container text-center">

    <div class="col-md-3 col-sm-3 col-xs-3 text-left account-menu">
        <ul class="">
            <li><h4>Welcome</h4></li>
            <li><a href="#/account">Account Settings</a></li>
            <li><a href="#/account/shopping-cart">My Shopping Cart</a></li>
            <li><a href="#/account/purchased" class="active">My Orders</a></li>
        </ul>
    </div>

    <div class="col-md-9 col-sm-9 col-xs-9 text-left act-list">
        <ul>
            <h2>Orders :<span ng-if="purchased.length" ng-bind="purchased.length">0</span></h2>
            <div class="fade" ng-class="{in:purchased.length}">
            <li class="row list-inline columnCaptions">
                <span>Order</span>
                <span>Total Price</span>
            </li>
            <li class="row" ng-repeat="order in purchased | orderBy:orderProp">

                <span class="list-item">
                    <a ng-class="order.showdetail ? 'active' : ''" ng-click="showorder(order.id)">Order - <span ng-bind="order.id"></span></a>
                </span>
                <span class="price" ng-bind="order.total | currency:'£'"></span>
                <ul class="list-detail" ng-show="order.showdetail">
                    <li class="row" ng-repeat="score in orderdetails">
                        <span class="list-item"><a ng-click="showscore(score.fileurl)" ng-bind="score.title"></a></span>
                        <span class="price" ng-bind="score.price | currency:'£'"></span>
                        <span class="list-action"><a type="button" ng-click="showscore(score.fileurl)" class="btn btn-primary btn-xs">Request</a></span>
                    </li>
                </ul>
            </li>
            </div>
        </ul>
    </div>

</div>
