<div class="container breadcrumbBox">
    <ol class="breadcrumb">
        <li><a href="#/home"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="#/admin">Admin</a></li>
        <li><a href="#/admin/sheetmusic">Manage SheetMusic</a></li>
    </ol>
</div>

<div class="container text-center">

    <div class="col-md-3 col-sm-3 col-xs-3 text-left account-menu">
        <ul class="">
            <h4>Welcome Admin</h4>
            <li><a href="#/admin/users">User List</a></li>
            <li><a href="#/admin/sheetmusic">Sheet Music</a></li>
            <li><a href="#/admin/categories">Categories</a></li>
        </ul>
    </div>

    <div class="col-md-9 col-sm-9 col-xs-9 text-left act-list">
        <form name="ScoreForm" class="form-score" role="form">
        <ul class="">
            <h2>Add New Sheet Music</h2>
            <li class="row">
                <span class="act-label">TITLE</span>
                <input type="text" class="act-content form-control" placeholder="Enter title" ng-model="scoreInfo.name" required ng-trim="true">
                
            </li>
            <li class="row">
                <span class="act-label">PRICE</span>
                <input type="text" class="act-content form-control" placeholder="Enter price" ng-model="scoreInfo.price" required ng-trim="true">
                
            </li>
            <li class="row">
                <span class="act-label">PAGE</span>
                <input type="text" class="act-content form-control" placeholder="Enter page" ng-model="scoreInfo.page" required ng-trim="true">
                
            </li>
            <li class="row">
                <span class="act-label">AUDIO UPLOAD</span>
                <input type="file" class="act-content form-control" placeholder="Choose Audio File" ng-model="scoreInfo.audioURL" ng-trim="true">
                
            </li>
            <li class="row">
                <span class="act-label">VIDEO URL</span>
                <input type="text" class="act-content form-control" placeholder="Enter Video URL" ng-model="scoreInfo.videoURL" ng-trim="true">
                
            </li>
            <li class="row">
                <span class="act-label">PREVIEW UPLOAD</span>
                <input type="file" class="act-content form-control" placeholder="Choose Preview Image File" ng-model="scoreInfo.imageURL" ng-trim="true">
                
            </li>
            <li class="row">
                <span class="act-label">SHEET MUSIC UPLOAD</span>
                <input type="file" class="act-content form-control" placeholder="Choose Actual Sheet Music File" ng-model="scoreInfo.fileURL" ng-trim="true">
                
            </li>
            <li class="row">
                <span class="act-label">DESCRIPTION</span>
                <textarea class="act-content form-control" placeholder="Description" ng-model="scoreInfo.snippet" ng-trim="true">
                
            </li>
            <li>
                <span class="form-check" ng-show="scoreCheck">{{scoreCheck}}</span>
            
            </li>
            <li>
                <button class="btn btn-primary btn-block" type="submit" ng-click="scoreSave()">
                Save
                </button>
                
            </li>
        </ul>
        </form>
    </div>

</div>
