
<div class="container text-center">

    <div class="col-md-3 col-sm-3 col-xs-3 text-left account-menu">
        <ul class="">
            <li><h4>Welcome Admin</h4></li>
            <li><a href="#/admin">Settings</a></li>
            <li><a href="#/admin/users">User List</a></li>
            <li><a href="#/admin/sheetmusic">Sheet Music</a></li>
            <li><a href="#/admin/categories" class="active">Categories</a></li>
        </ul>
    </div>

    <div class="col-md-9 col-sm-9 col-xs-9 text-left act-list">

        <div ng-repeat="ptype in types">
        <h2>Manage<span ng-bind="ptype.name | titlelize"></span></h2>
        <ul class="">
            <li>
                <button type="button" class="btn btn-default btn-inline btn-category" ng-repeat="subtype in ptype.subtypes">
                    {{subtype.name}}
                    <a ng-click="edittype('rename', subtype.id, subtype.name, ptype.id, ptype.name)"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a ng-click="removetype('remove', subtype.id, subtype.name, ptype.id, ptype.name)" ><span class="glyphicon glyphicon-remove"></span></a>
                </button>
                <a type="button" class="btn btn-warning btn-inline" ng-click="addtype(ptype.id, ptype.name)">ADD</a>
            </li>
        </ul>
        </div>
    </div>

</div>
