
<div class="container text-center">

    <div class="col-md-3 col-sm-3 col-xs-3 text-left account-menu">
        <ul class="">
            <h4>Welcome Admin</h4>
            <li><a href="#/admin/users">User List</a></li>
            <li><a href="#/admin/sheetmusic">Sheet Music</a></li>
            <li><a href="#/admin/categories" class="active">Categories</a></li>
        </ul>
    </div>

    <div class="col-md-9 col-sm-9 col-xs-9 text-left act-list">

        <h2>Manage Instruments ({{getInstruments.length}})</h2>
        <ul class="">
            <li>
            <li>
                <button type="button" class="btn btn-default btn-inline btn-category" ng-repeat="item in getInstruments | filter:query | orderBy:orderProp">
                    {{item.c_name}}
                    <a ng-click="editcategory('rename', item.c_number, item.c_name, 1, 'Instrument')"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a ng-click="editcategory('rename', item.c_number, item.c_name, 1, 'Instrument')" ><span class="glyphicon glyphicon-remove"></span></a>
                </button>
                <a type="button" class="btn btn-warning btn-inline" ng-click="addcategory(1, 'Instruments')">ADD</a>
            </li>
        </ul>

        <h2>Manage Composers ({{getComposers.length}})</h2>
        <ul class="">
            <li>
            <li>
                <button type="button" class="btn btn-default btn-inline btn-category" ng-repeat="item in getComposers | filter:query | orderBy:orderProp">
                    {{item.c_name}}
                    <a ng-click="editcategory('rename', item.c_number, item.c_name, 2, 'Composer')"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a ng-click="editcategory('rename', item.c_number, item.c_name, 2, 'Composer')" ><span class="glyphicon glyphicon-remove"></span></a>
                </button>
                <a type="button" class="btn btn-warning btn-inline" ng-click="addcategory(2, 'Composers')">ADD</a>
            </li>
        </ul>

        <h2>Manage Genres ({{getGenres.length}})</h2>
        <ul class="">
            <li>
                <button type="button" class="btn btn-default btn-inline btn-category" ng-repeat="item in getGenres | filter:query | orderBy:orderProp">
                {{item.c_name}}
                    <a ng-click="editcategory('rename', item.c_number, item.c_name, 3, 'Genre')"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a ng-click="editcategory('rename', item.c_number, item.c_name, 3, 'Genre')" ><span class="glyphicon glyphicon-remove"></span></a>
                </button>
                <a type="button" class="btn btn-warning btn-inline" ng-click="addcategory(3, 'Genres')">ADD</a>
            </li>
        </ul>
    </div>

</div>
