
<div class="container text-center">

    <div class="col-md-3 col-sm-3 col-xs-3 text-left account-menu">
        <ul class="">
            <li><h4>Welcome Admin</h4></li>
            <li><a href="#/admin/users">User List</a></li>
            <li><a href="#/admin/sheetmusic" class="active">Sheet Music</a></li>
            <li><a >Categories</a></li>
        </ul>
    </div>

    <div class="col-md-9 col-sm-9 col-xs-9 text-left act-list">
        <h2>Manage Sheet Music ({{scores.length}})
            <span><a type="button" href="#/admin/add-sheetmusic" class="btn btn-warning">ADD</a></span>
        </h2>
        <ul class="">
            <li class="row" ng-repeat="item in scores | filter:query | orderBy:orderProp">
                <span class="list-item"><a href="#/sheetmusic/{{item.shortname}}">{{item.title}}</a>
                    <a href="#/admin/sheetmusic/{{item.id}}" ><span class="glyphicon glyphicon-pencil"></span></a>
                    <a ng-click="removeScore(item.id, item.title)" ><span class="glyphicon glyphicon-remove"></span></a>
                </span>
                <span class="list-added">{{item.added | date : 'yyyy-MM-dd'}}</span>
                <span class="admin-action list-action">
                    <a type="button" ng-if="item.slider" ng-click="addSlider(false, item.id)" class="btn btn-default btn-xs">Remove from Slider</a>
                    <a type="button" ng-if="!item.slider" ng-click="addSlider(true, item.id)" class="btn btn-primary btn-xs">Add to Slider</a>
                </span>

            </li>
        </ul>
    </div>

</div>
