
<div class="container text-center">

    <div class="col-md-3 col-sm-3 col-xs-3 text-left account-menu">
        <div class="list-group">
            <a href="#/admin/users" class="list-group-item">User List</a>
            <a href="#/admin/sheetmusic" class="list-group-item active">Sheet Music</a>
            <a href="#/admin/categories" class="list-group-item">Categories (Tags)</a>
        </div>
    </div>

    <div class="col-md-9 col-sm-9 col-xs-9 text-left act-list">

        <h2>Editing Tags:<span ng-bind="score.title"></span>
            <span><a type="button" href="#/admin/sheetmusic" class="btn btn-default">BACK</a></span>
        </h2>
        <div class="col-md-6 col-sm-6 col-xs-12 text-left">
            <h4>Unselected Tags</h4>
            <ul>
                <span ng-repeat="type in types" ng-if="!type.obsolete" class="pull-left text-left col-md-12">
                <li><b ng-bind="type.name"></b></li>
                <li>
                    <a type="button" class="btn-detail btn btn-default"
                       ng-repeat="subtype in type.subtypes" ng-if="!subtype.obsolete"
                            ng-click="addscoretype(subtype.id, subtype.name)">
                        {{subtype.name}}
                    </a>
                </li>
                </span>
            </ul>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 text-left">
            <h4>Selected Tags</h4>
            <ul>
                <li>
                    <a type="button" class="btn-detail btn btn-primary"
                       ng-repeat="addedtype in selected" ng-if="!addedtype.obsolete"
                            ng-click="removescoretype(addedtype.id, addedtype.name)">
                        {{addedtype.name}}
                    </a>
                </li>

            </ul>

        </div>
    </div>

</div>
