<!-- Content -->
<div class="container text-center">

    <div class="col-md-4 col-sm-4 col-xs-4 text-left score-detail">
        <ul class="">
            <li><h1 ng-bind="subname"></h1></li>
            <li><h4><span ng-bind="pname"></span> | <a href="#/types/{{pname}}">View All</a> </h4></li>
            <li><h4>Sheet Music Count  : {{scores.length}}</h4></li>
        </ul>
    </div>


    <div class="col-md-8 col-sm-8 col-xs-8 list-score">
        <ul class="score-list">
            <li class="row" ng-repeat="score in scores | filter:query | orderBy:orderProp">
                <span class="list-item"><a href="#/sheetmusic/{{score.shortname}}">{{score.title}}</a></span>
                <span class="list-added">{{score.createdAt | date : 'yyyy-MM-dd'}}</span>
                <span ng-if="score.audiourl" class="list-icon glyphicon glyphicon-music" title="Audio Preview"></span>
                <span ng-if="score.videourl" class="list-icon glyphicon glyphicon-film" title="Video Preview"></span>
            </li>
        </ul>
    </div>

</div>
