

<!-- Content -->
<div class="container text-center">

    <div class="col-md-4 col-sm-4 col-xs-4 text-left score-detail">
        <ul class="">
            <li><h1>{{score.name}}</h1></li>
            <span ng-show=0 ng-model="sid" >{{score.sid}}</span>
            <li><a type="button" class="btn {{action_class}}" ng-click="link()" >{{action}}</a></li>
            <!--
            <li><a class="btn btn-default btn-block" ng-model="collapsed" ng-click="collapsed=!collapsed">More Detail</a></li>
            -->
            <div ng-show="!collapsed">
                <li>Price: {{score.price | currency:'£'}}</li>
                <li>Page: <span>{{score.page}}</span></li>
                <li ng-if="score.instruments.length">Instruments: <a type="button" class="btn-detail btn btn-default" href="#/instruments/{{instrument.c_shortname}}" ng-repeat="instrument in score.instruments">{{instrument.c_name}} </a></li>
                <li ng-if="score.composers.length">Composers: <a type="button" class="btn-detail btn btn-default" href="#/composers/{{composer.c_shortname}}" ng-repeat="composer in score.composers">{{composer.c_name}} </a></li>
                <li ng-if="score.genres.length">Genres: <a type="button" class="btn-detail btn btn-default" href="#/genres/{{genre.c_shortname}}" ng-repeat="genre in score.genres">{{genre.c_name}} </a></li>

                <li ng-if="score.audiourl || score.videourl">
                    Links:
                    <button type="button" class="btn-detail btn btn-default"  ng-if="score.audiourl" href="{{score.audiourl}}" target="_blank" class="" title="Download Audio">Audio</button>
                    <button type="button" class="btn-detail btn btn-default"  ng-if="score.videourl" href="{{score.videourl}}" target="_blank" class="" title="Video Preview">Video</button>
                </li>
                <li ng-if="score.snippet">
                    <p class="well">{{score.snippet}}</p>
                </li>
            </div>
        </ul>
        <!-- 4:3 aspect ratio -->
        <div ng-if="score.videourl" class="col-md-12 embed-responsive embed-responsive-16by9">
            <iframe class="col-md-12 embed-responsive-item" src="//www.youtube.com/embed/qwXzbILRheM"></iframe>
        </div>
    </div>

    <div class="col-md-8 col-sm-8 col-xs-8 text-left score-main">
        <div ng-if="score.audiourl" class="main-media">
            <audio class="" ng-src="{{score.audiourl}}" controls="controls" preload="auto" >
                Your browser does not support the HTML5 Audio element.
            </audio>
        </div>

        <img class="main-image" ng-src="{{score.imageurl}}">
    </div>
</div>
