
<div class="container text-center">

    <div class="col-md-3 col-sm-3 col-xs-3 text-left account-menu">
        <ul class="">
            <li><h4>Welcome Admin</h4></li>
            <li><a href="#/admin/users">User List</a></li>
            <li><a href="#/admin/sheetmusic" class="active">Sheet Music</a></li>
            <li><a href="#/admin/categories">Categories</a></li>
        </ul>
    </div>

    <div class="col-md-9 col-sm-9 col-xs-9 text-left act-list">

        <h2>Editing Sheet Music
            <span><a type="button" href="#/admin/sheetmusic" class="btn btn-default">BACK</a></span>
        </h2>
        <form name="ScoreForm" class="form-score" role="form">
            <ul class="">
                <li class="row">
                    <span class="act-label">TITLE</span>
                    <input type="text" class="act-content form-control" placeholder="Enter title" ng-model="scoreInfo.name" required ng-trim="true">

                </li>
                <li class="row">
                    <span class="act-label">SLIDER</span>
                    <input type="checkbox" value="true" name="" class="" placeholder="Add to Slider" ng-model="scoreInfo.slider" ng-trim="true">

                </li>
                <li class="row">
                    <span class="act-label">PRICE</span>
                    <input type="text" class="act-content form-control" placeholder="Enter price" ng-model="scoreInfo.price" required ng-trim="true">

                </li>
                <li class="row">
                    <span class="act-label">PAGE</span>
                    <input type="text" class="act-content form-control" placeholder="Enter page" ng-model="scoreInfo.page" required ng-trim="true">

                </li>
                <!--
                <hr>
                <li class="row">
                    <span class="act-label">INSTRUMENTS</span>

                    <div class="act-content">
                        <select
                                ng-change="addinstrument(scoreInfo.instrument)"
                                ng-model="scoreInfo.instrument"
                                ng-options="value as value.c_name for value in getInstruments" class="form-control">
                            <option value="">--</option>
                        </select>
                    </div>
                </li>
                <li class="row" ng-if="scoreInfo.instruments.length">
                    <span class="act-label"></span>
                    <div class="act-content">
                        <a type="button" class="btn-detail btn btn-default" ng-repeat="instrument in scoreInfo.instruments">{{instrument.c_name}} </a>
                    </div>
                </li>
                <li class="row">
                    <span class="act-label">COMPOSERS</span>

                    <div class="act-content">
                        <select
                                ng-change="addcomposer(scoreInfo.composer)"
                                ng-model="scoreInfo.composer"
                                ng-options="value as value.c_name for value in getComposers" class="form-control">
                            <option value="">--</option>
                        </select>
                    </div>
                </li>
                <li class="row" ng-if="scoreInfo.composers.length">
                    <span class="act-label"></span>
                    <div class="act-content">
                        <a type="button" class="btn-detail btn btn-default" ng-repeat="composer in scoreInfo.composers">{{composer.c_name}} </a>
                    </div>
                </li>
                <li class="row">
                    <span class="act-label">GENRES</span>

                    <div class="act-content">
                        <select
                                ng-change="addgenre(scoreInfo.genre)"
                                ng-model="scoreInfo.genre"
                                ng-options="value as value.c_name for value in getGenres" class="form-control">
                            <option value="">--</option>
                        </select>
                    </div>
                </li>
                <li class="row" ng-if="scoreInfo.genres.length">
                    <span class="act-label"></span>
                    <div class="act-content">
                        <a type="button" class="btn-detail btn btn-default" ng-repeat="genre in scoreInfo.genres">{{genre.c_name}} </a>
                    </div>
                </li>
                <hr>
                -->
                <li class="row">
                    <span class="act-label">AUDIO</span>
                    <input type="text" class="act-content form-control" placeholder="Audio URL" ng-model="scoreInfo.audiourl" ng-trim="true">

                </li>
                <li class="row">
                    <span class="act-label">VIDEO</span>
                    <input type="text" class="act-content form-control" placeholder="Video URL" ng-model="scoreInfo.videourl" ng-trim="true">

                </li>
                <li class="row">
                    <span class="act-label">IMAGE</span>
                    <input type="text" class="act-content form-control" placeholder="Image URL" ng-model="scoreInfo.imageurl" ng-trim="true">

                </li>
                <li class="row">
                    <span class="act-label">FILE</span>
                    <input type="text" class="act-content form-control" placeholder="Sheet Music URL" ng-model="scoreInfo.fileurl" ng-trim="true">

                </li>
                <li class="row">
                    <span class="act-label">DESCRIPTION</span>
                    <textarea class="act-content form-control" placeholder="Description" ng-model="scoreInfo.snippet" ng-trim="true"></textarea>

                </li>
                <li>
                    <span class="form-check" ng-show="scoreCheck">{{scoreCheck}}</span>

                </li>
                <li>
                    <button class="btn btn-primary" type="submit" ng-click="scoreSave()">
                        Save
                    </button>

                </li>
            </ul>
        </form>
    </div>

</div>
