
<!-- Content -->
<div class="container text-center centered">

    <div class="col-md-6 col-sm-6 col-xs-12 text-center">
        <img class="biglogo" src="images/logo-wendy-big.png">
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 text-center">
        <h2>Log In</h2>

        <a class="pull-center need-help" href="#/register">Not Registered? Click to Sign Up </a><span class="clearfix"></span>
        <form name="LoginForm" class="form-signin" role="form" ng-submit="login()">
            <input type="text" class="form-control" placeholder="Username" ng-model="loginInfo.username" required autofocus>
            <input type="password" class="form-control" placeholder="Password" ng-model="loginInfo.password" required>
            <span class="form-check" ng-show="loginCheck" ng-bind="loginCheck"></span>
            <a href="#" class="pull-right need-help">Forgotten password? </a>
            <button class="btn btn-primary" type="submit">
            Sign in
            </button><span class="clearfix"></span>
        </form>
    </div>
</div>
