
<div class="container text-center fade" ng-class="{in:logged_purchased.length}">

    <div class="col-md-3 col-sm-3 col-xs-3 text-left account-menu">
        <ul class="">
            <li><h4>Welcome</h4></li>
            <li><h4><a href="#/account">{{logged_username | uppercase}}</a></h4></li>
            <li><a href="#/account">Account Settings</a></li>
            <li><a href="#/account/shopping-cart">My Shopping Cart</a></li>
            <li><a href="#/account/purchased" class="active">My Orders</a></li>
        </ul>
    </div>

    <div class="col-md-9 col-sm-9 col-xs-9 text-left act-list">
        <ul class="">
            <h2>Orders ({{logged_purchased.length}})</h2>
            <div ng-if="logged_purchased.length">
            <li class="row list-inline columnCaptions">
                <span>Order</span>
                <span>Total Price</span>
            </li>
            <li class="row" ng-repeat="order in logged_purchased | orderBy:orderProp">

                <span class="list-item">
                    <a ng-class="order.showdetail ? 'active' : ''" ng-click="showorder(order.id)">Order - {{order.id}}</a>
                </span>
                <span class="price">{{order.total | currency:'£'}}</span>
                <ul class="list-detail" ng-show="order.showdetail">
                    <li class="row" ng-repeat="score in orderdetails">
                        <span class="list-item"><a href="#/sheetmusic/{{score.shortname}}">{{score.title}}</a></span>
                        <span class="price">{{score.price | currency:'£'}}</span>
                        <span class="list-action"><a type="button" ng-click="launch('confirm')" class="btn btn-primary btn-xs">Request</a></span>
                    </li>
                </ul>
            </li>
            </div>
        </ul>
    </div>

</div>
