
<!-- Content -->
<div class="container text-center fade" ng-class="{in:scores.length}">

    <div class="col-md-4 col-sm-4 col-xs-4 text-left list-filter">
        <!--
        <div class="dropdown-title">
            <a type="button" class="btn btn-block btn-primary"
               ng-model="collapsed" ng-click="collapsed=!collapsed">Sort & Filters
                <span ng-show="!collapsed" class="glyphicon glyphicon-chevron-up"></span>
                <span ng-show="collapsed" class="glyphicon glyphicon-chevron-down"></span>
            </a>
        </div>
        -->
        <div id="sortnfilter" ng-show="!collapsed">
            <span class="dropdown-label">Order By</span>
            <div class="dropdown-order">
                <select class="form-control" ng-model="orderProp">
                    <option value="">--</option>
                    <option value="name">Name</option>
                    <option value="-added">Newest</option>
                    <option value="added">Oldest</option>
                </select>
            </div>

            <span class="dropdown-label">Number of Instruments</span>
            <div class="dropdown-number">
                <select class="form-control" ng-model="numberInstrument">
                    <option value="">--</option>
                    <option value=1 >1</option>
                    <option value=2 >2</option>
                    <option value=3 >3</option>
                    <option value=4 >4</option>
                </select>
            </div>

            <div ng-repeat="n in [] | range:numberInstrument">
                <span class="dropdown-label-sub "> - Instrument {{n}}</span>
                <div class="dropdown-category">
                    <select
                            ng-model="instrumentList"
                            ng-options="value.c_shortname as value.c_name group by value.type for value in getInstruments" class="form-control">
                        <option value="">--</option>
                    </select>
                </div>
            </div>

            <span class="dropdown-label">Composers</span>
            <div class="dropdown-category">
                <select
                        ng-model="composerList"
                        ng-options="value.c_shortname as value.c_name for value in getComposers" class="form-control">
                    <option value="">--</option>
                </select>
            </div>

            <span class="dropdown-label">Genres</span>
            <div class="dropdown-category">
                <select
                        ng-model="genreList"
                        ng-options="value.c_shortname as value.c_name for value in getGenres" class="form-control">
                    <option value="">--</option>
                </select>
            </div>

        </div><!-- End Sort and Filter -->

    </div><!-- End Filters-->

    <div class="col-md-8 col-sm-8 col-xs-8 list-score">
        <ul class="score-list">
            <li class="row" ng-repeat="item in scores | filter:query | orderBy:orderProp">
                <span class="list-item"><a href="#/sheetmusic/{{item.shortname}}">{{item.title}}</a></span>
                <span class="list-added">{{item.createdAt | date : 'yyyy-MM-dd'}}</span>
                <span ng-if="item.audioUrl" class="list-icon glyphicon glyphicon-music" title="Audio Preview"></span>
                <span ng-if="item.videoUrl" class="list-icon glyphicon glyphicon-film" title="Video Preview"></span>
            </li>
        </ul>
    </div>

</div>
