
<!-- Content -->
<div class="container text-center fade" ng-class="{in:scores.length}">

    <div class="col-md-4 col-sm-4 col-xs-4 text-left list-filter">
        <!--
        <div class="dropdown-title">
            <a type="button" class="btn btn-block btn-primary"
               ng-model="collapsed" ng-click="collapsed=!collapsed">Sort & Filters
                <span ng-show="!collapsed" class="glyphicon glyphicon-chevron-up"></span>
                <span ng-show="collapsed" class="glyphicon glyphicon-chevron-down"></span>
            </a>
        </div>
        -->
        <h4>Order By</h4>
        <div class="dropdown-order">
            <select class="form-control" ng-model="orderProp">
                <option value="">--</option>
                <option value="title">Name</option>
                <option value="-updatedAt">Latest</option>
                <option value="updatedAt">Oldest</option>
            </select>
        </div>
        <!--
        <div class="panel panel-default">
            <div class="panel-heading">Order By</div>
            <div class="panel-body">
                <div class="dropdown-order">
                    <select class="form-control" ng-model="orderProp">
                        <option value="">--</option>
                        <option value="title">Name</option>
                        <option value="-updatedAt">Latest</option>
                        <option value="updatedAt">Oldest</option>
                    </select>
                </div>
            </div>
        </div>
        -->
        <!--
                <div id="sortnfilter" ng-show="!collapsed">
                    <span class="dropdown-label">Order By</span>
                    <div class="dropdown-order">
                        <select class="form-control" ng-model="orderProp">
                            <option value="">--</option>
                            <option value="title">Name</option>
                            <option value="-updatedAt">Latest</option>
                            <option value="updatedAt">Oldest</option>
                        </select>
                    </div>

                    <span class="dropdown-label">Number of Instruments</span>
                    <div class="dropdown-number">
                        <select class="form-control" ng-model="numberInstrument">
                            <option value="">--</option>
                            <option value=1 >1</option>
                            <option value=2 >2</option>
                            <option value=3 >3</option>
                            <option value=4 >4</option>
                        </select>
                    </div>

                    <div ng-repeat="n in [] | range:numberInstrument">
                        <span class="dropdown-label-sub "> - Instrument {{n}}</span>
                        <div class="dropdown-category">
                            <select
                                    ng-model="instrumentList"
                                    ng-options="" class="form-control">
                                <option value="">--</option>
                            </select>
                        </div>
                    </div>

                    <span class="dropdown-label">Composers</span>
                    <div class="dropdown-category">
                        <select
                                ng-model="composerList"
                                ng-options="" class="form-control">
                            <option value="">--</option>
                        </select>
                    </div>

                    <span class="dropdown-label">Genres</span>
                    <div class="dropdown-category">
                        <select
                                ng-model="genreList"
                                ng-options="" class="form-control">
                            <option value="">--</option>
                        </select>
                    </div>

        </div>--><!-- End Sort and Filter -->

    </div><!-- End Filters-->

    <div class="col-md-8 col-sm-8 col-xs-8 list-score">
        <h4 ng-if="fields.query" >Search result:</h4>
        <!--
        <ul class="score-list">
            <li class="row" ng-repeat="item in scores | orderBy:orderProp">
                <span class="list-item"><a href="#/sheetmusic/{{item.shortname}}" ng-bind="item.title"></a></span>
                <span class="list-added" ng-bind="item.updatedAt | date : 'yyyy-MM-dd'"></span>
                <span ng-if="item.audiourl" class="list-icon glyphicon glyphicon-music" title="Audio Preview"></span>
                <span ng-if="item.videourl" class="list-icon glyphicon glyphicon-film" title="Video Preview"></span>
            </li>
        </ul>
        -->
        <table class="table table-striped table-hover" ng-if="scores.length">
            <thead>
            <tr>
                <th>Title</th>
                <th>Preview</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in scores | orderBy:orderProp | limitTo:pageSize">
                <td><a href="#/sheetmusic/{{item.shortname}}" ng-bind="item.title"></a></td>
                <td>
                    <span ng-if="item.audiourl" class="glyphicon glyphicon-music" title="Audio Preview"></span>
                    <span ng-if="item.videourl" class="glyphicon glyphicon-film" title="Video Preview"></span>
                </td>
                <td>{{item.updatedAt | date : 'yyyy-MM-dd'}}</td>
            </tr>
            </tbody>
        </table>
        <ul class="pagination" ng-show="0">
            <li><a ng-click="currentPage=currentPage-1"
                                    ng-disable="currentPage == 0" >«</a></li>
            <li><a>{{currentPage+1}}/{{numberOfPages()}}</a></li>
            <li><a ng-disable="currentPage >= scores.length/pageSize - 1"
                   ng-click="currentPage = currentPage + 1">»</a></li>
        </ul>
    </div>

</div>
