
<div class="container text-center">

    <div class="col-md-3 col-sm-3 col-xs-3 text-left account-menu">
        <ul class="">
            <li><h4>Welcome</h4></li>
            <li><a href="#/account">Account Settings</a></li>
            <li><a href="#/account/shopping-cart" class="active">My Shopping Cart</a></li>
            <li><a href="#/account/purchased">My Orders</a></li>
        </ul>
    </div>

    <div class="col-md-9 col-sm-9 col-xs-9 text-left act-list">
        <ul>
            <h2>Shopping Cart<span ng-if="logged_cart.length">({{logged_cart.length}})</span></h2>
            <div class="fade" ng-class="{in:cart.length}">
            <li class="pull-right row">
                <a href="#/sheetmusic">Continue Shopping</a>
            </li>
            <li class="row list-inline columnCaptions">
                <span>Title</span>
                <span>Price</span>
            </li>
            <li class="row" ng-repeat="score in cart | orderBy:orderProp">
                <span class="list-item">
                    <a href="#/sheetmusic/{{score.shortname}}">{{score.title}}</a>
                </span>
                <span class="price">{{score.price | currency:'£'}}</span>
                <span class="list-action"><a type="button" ng-click="removecart(score.title, score.id)" class="btn btn-danger btn-xs">Remove</a></span>
            </li>
            <li class="row totals">
                <span class="list-item">Total:</span>
                <span class="action"><a type="button" class="btn btn-primary" ng-click="order()">Order</a></span>
                <span class="total">{{total | currency: '£'}}</span>
                <img class="paypal" src="images/paypal.png">
            </li>
            </div>
        </ul>
    </div>

</div>
