<div class="slider fade" ng-class="{in:images.length}">
	<!-- Slide Show-->
	<div class="slide" ng-repeat="image in images | orderBy:orderProp"
		ng-show="image.visible">
		<div class="slide-name">
			<a href="#/sheetmusic/{{image.shortname}}" ng-bind="image.title"></a>
			<p class="well">lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes</p>
			<div class="slide-index">
				<span ng-bind="(currentIndex+1)"></span>/<span
					ng-bind="images.length"></span>
			</div>
			<ol id="pagination">
    				<li ng-repeat="image in images"><a>1</a></li>
			</ol>
		</div>
		<img ng-src="{{image.imageurl}}" />
	</div>

	<!-- Slide Previews 
	<div class="preview">
		<ul><li ng-repeat="image in images">
			<span class="bullet" ng-click="show()"></span>
		</li></ul>
	</div>
	-->
</div>
