<div class="slider fade" ng-class="{in:images.length}">
	<!-- Slide Show-->
	<div class="slide" ng-repeat="image in images | orderBy:orderProp" ng-show="image.visible">
		<img ng-src="{{image.imageurl}}" />
        	<div class="slide-name">
        	<a href="#/sheetmusic/{{image.shortname}}" ng-bind="image.title"></a>
        	<p class="well"><span ng-bind="image.desc">Some introduction here</span></p>
        	</div>
	</div>
	<!-- Arrows -->
    	<div class="slide-index"><span ng-bind="(currentIndex+1)"></span>/<span ng-bind="images.length"></span></div>
	<div class="left-arrow" ng-style="sliderarrow" ng-click="prev()"></div>
	<div class="right-arrow" ng-style="sliderarrow" ng-click="next()"></div>
	
	<!-- Slide Previews 
	<div class="preview">
		<ul><li ng-repeat="image in images">
			<span class="bullet" ng-click="show()"></span>
		</li></ul>
	</div>
	-->
</div>
