
<div class="container text-center">

    <div class="col-md-3 col-sm-3 col-xs-3 text-left account-menu">
        <ul class="">
            <li><h4>Welcome Admin</h4></li>
            <li><a href="#/admin/users" class="active">User List</a></li>
            <li><a href="#/admin/sheetmusic">Sheet Music</a></li>
            <li><a href="#/admin/categories">Categories</a></li>
        </ul>
    </div>

    <div class="col-md-9 col-sm-9 col-xs-9 text-left act-list">

        <h2>Manage Users ({{users.length}})</h2>
        <ul class="">
            <li class="row" ng-repeat="item in users">
                <span class="list-item"><a href="#/admin/users/{{item.id}}">{{item.username}}</a></span>
                <span class="list-added">{{item.added | date : 'yyyy-MM-dd'}}</span>
                <span class="admin-action list-action">
                    <a type="button" class="btn btn-primary btn-xs">Send Message</a>
                    <a type="button" class="btn btn-danger btn-xs">Block</a>
                </span>
            </li>
        </ul>
    </div>

</div>
