<div class="container breadcrumbBox">
    <ol class="breadcrumb">
        <li><a href="#/home"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="#/users/{{logged_username}}">Account Settings</a></li>
    </ol>
</div>

<div class="container text-center">

    <div class="col-md-3 col-sm-3 col-xs-3 text-left account-menu">
        <ul class="">
            <li><h4>Welcome
                <a href="#/users/{{logged_username}}">{{logged_username | uppercase}}</a>
            </h4></li>
            <li><a href="#/users/{{logged_username}}" class="active">Account Settings</a></li>
            <li><a href="#/users/{{logged_username}}/shopping-cart">My Shopping Cart</a></li>
            <li><a href="#/users/{{logged_username}}/purchased">Purchased Scores</a></li>
        </ul>
    </div>

    <div class="col-md-9 col-sm-9 col-xs-9 text-left act-list">
        <ul class="">
            <h2>Account Settings</h2>
            <li class="row">
                <span class="act-label">USERNAME</span>
                <span class="act-content">{{logged_username}}</span>
            </li>
            <li class="row">
                <span class="act-label">EMAIL</span>
                <span class="act-content">{{user.email | uppercase}}</span>
            </li>
            <li class="row">
                <span class="act-label">REGISTERED</span>
                <span class="act-content">{{user.added | date : 'yyyy-MM-dd'}}</span>
            </li>
            <li class="row">
                <span class="act-label">PASSWORD</span>
                <span class="act-content act-btn"><a type="button" ng-click="launch('create')" class="btn btn-primary btn-sm">Click to Change</a></span>
            </li>
        </ul>
    </div>

</div>
